# DataFrame에서 data 추출
- 열(column, 세로 vector) 단위 data 추출
    - 방식 : 객체변수명[column명] 또는 객체변수명.column명
- 행(row, 가로 vector) 단위 data 추출
    - 방식 : 객체변수명.loc[index lable] 또는 객체변수명.iloc[정수 index]
- 하나의 원소 단위 data 추출 
    - 방식 : 객체변수명.loc[행인덱스라벨, 열인덱스라벨] 또는 대괄호 분리도 됨
    -        객체변수명.iloc[행인덱스, 열인덱스] 이하 동일

In [24]:
import pandas as pd    # 모듈 로딩

# Df객체 생성
df = pd.DataFrame([[1, 2, 3], [11, 22, 33]])

# Df객체 요약정보 출력
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      int64
 1   1       2 non-null      int64
 2   2       2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [10]:
# Df객체 구성 확인
df

    0   1   2
0   1   2   3
1  11  22  33

In [17]:
# Df객체변수명[컬럼명]
df[0]

1    11
Name: 0, dtype: int64

In [26]:
df.iloc[0] = [1, 2, 3]
df

    0   1   2
0   1   2   3
1  11  22  33

In [38]:
# df.drop(행 혹은 열번호, inplace = False가 기본값, axis = 1(열), 0(행))
# inplace가 True면 원본이 삭제됨, 즉 변수로 다시 저장해 줄 필요가 없다.
# 행이나 행 추가는 df.loc[행번호] = [추가내용], 열 추가는 df[열번호] = [추가내용]
df2 = df.drop([0], axis = 1)
print(df2)
print(df)

    1   2
0   2   3
1  22  33
    0   1   2
0   1   2   3
1  11  22  33

# 행(row) & 열(column) 전환시키기
- 행->열, 열->행
- 방법
    - 메서드 : df객체변수명.transpose()
    - 속  성 : df객체변수명.T

In [39]:
# df 객체의 형태 -> shape속성
df.shape

(2, 3)

In [49]:
df3 = df
df3 = df3.T
print(df3.shape)
df3

(3, 2)

   0   1
0  1  11
1  2  22
2  3  33