# 데이터 갯수와 고유값(unique)
- 컬럼별 개수 => count() 메서드
- 컬럼별 고유값 => unique() 메서드
- 컬럼별 값별 개수 => value_counts() 메서드

In [1]:
# 모듈 로딩
import pandas as pd

# 파일 관련 함수 선언
DIR_PATH = r'../Data/'
FILE_NAME = DIR_PATH + 'iris.csv'

'../Data/iris.csv'

In [2]:
# (1) File => Dataframe으로 가져오기
irisDF = pd.read_csv(FILE_NAME)
irisDF

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
# (2) Data 확인하기
# DF 요약 정보 => info() 메서드
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
# DF의 columns, shape, dimension 정보 확인
irisDF.columns, irisDF.shape, irisDF.ndim

(Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object'),
 (150, 5),
 2)

In [27]:
# (3) 원하는 작업 수행
# 'Name' column 추출
print(irisDF['Name'])
# 'Name' column의 데이터 갯수 출력
print('Name컬럼의 갯수 :', irisDF['Name'].count())
print('Name컬럼의 고유값 :', irisDF['Name'].unique())
print('Name컬럼의 값별 갯수 :')
irisDF['Name'].value_counts()

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Name, Length: 150, dtype: object
Name컬럼의 갯수 : 150
Name컬럼의 고유값 : ['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']
Name컬럼의 값별 갯수 :

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Name, dtype: int64

In [35]:
# 'SepalLength' 컬럼의 데이터 갯수, 고유값, 값별 갯수 출력
print('SepalLength컬럼의 갯수 :', irisDF['SepalLength'].count())
print('SepalLength컬럼의 고유값 :', irisDF['SepalLength'].unique())
print('SepalLength컬럼의 값별 갯수 :')
irisDF['SepalLength'].value_counts()

SepalLength컬럼의 갯수 : 150
SepalLength컬럼의 고유값 : [5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]
SepalLength컬럼의 값별 갯수 :

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: SepalLength, dtype: int64

In [44]:
# 데이터별 갯수에서 최대값 구하기, 몇개가 제일 많나?
max_value = irisDF['SepalLength'].value_counts().max()
max_value

10

In [43]:
# 데이터별 갯수에서 최대값 구하기, 뭐가 제일 많나?
max_index = irisDF['SepalLength'].value_counts().argmax()  # 인덱스 번호로 나온다.
max_index

0

In [47]:
# 데이터별 갯수에서 최대값 구하기(출현빈도가 가장 많은 것)
max_data = irisDF['SepalLength'].value_counts().index[max_index]
print(f'{max_data}데이터가 {max_value}개로 가장 많다.')

5.0데이터가 10개로 가장 많다.