# 'iris.csv'에서 아래 결과를 도출하세요.

### 1. Length 데이터만 추출해서 출력해주세요.

### 2. SepalLegth 컬럼에서 길이가 5.0보다 큰 컬럼의 SepalLength와 Name만 출력해주세요.

### 3. Iris-setosa, Iris-versicolor, Iris-virginica에서 각각 최대, 최소 컬럼을 출력해주세요.

In [1]:
# pandas import
import pandas as pd

In [2]:
# 경로 설정
DIR_PATH = '../../Data'

# pandas를 이용해 iris.csv 데이터프레임 설정
df_iris = pd.read_csv(f'{DIR_PATH}/iris.csv')

df_iris

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
# 1. Length 데이터만 추출해서 출력해주세요.

# columns 값 추출
df_iris_columns = df_iris.columns

# 처음부터 끝 열까지
for i in range(0, len(df_iris_columns)):
    # 컬럼명에 'Length'라는 단어가 포함되어 있으면
    if 'Length' in df_iris_columns[i]:
            # 해당 컬럼을 프린트
            print(df_iris[df_iris_columns[i]])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLength, Length: 150, dtype: float64
0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLength, Length: 150, dtype: float64

In [4]:
# 2. SepalLength 컬럼에서 길이가 5.0보다 큰 컬럼의 SepalLength와 Name만 출력해주세요.

# df_iris_SepalLength에서 길이가 5.0보다 큰 경우
df_iris_SepalLength_5 = df_iris[df_iris['SepalLength'] > 5.0]
# df_iris_SepalLength_5에서 SepalLength과 Name만 출력
df_iris_SepalLength_5[['SepalLength', 'Name']]

     SepalLength            Name
0            5.1     Iris-setosa
5            5.4     Iris-setosa
10           5.4     Iris-setosa
14           5.8     Iris-setosa
15           5.7     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[118 rows x 2 columns]

In [5]:
# 3. Iris-setosa, Iris-versicolor, Iris-virginica에서 각각 최대, 최소 컬럼을 출력해주세요.

#  Name 값을 입력받으면  해당 하는 부분의 최대, 최소를 출력해주는 함수
def defMaxMin(name) :
    # df_iris의 Name 열에 입력받은 값과 같은 행만 추출
    df_iris_flower = df_iris[df_iris['Name'] == name]
    # df_iris_flower의 최대값 추출
    df_iris_flower_max = df_iris_flower.max()
    # df_iris_flower의 최소값 추출
    df_iris_flower_min = df_iris_flower.min()
    # df_iris_flower_max, df_iris_flower_min 출력
    print(f'{name} 최대값 : \n{df_iris_flower_max}', f'{name} 최소값 : \n{df_iris_flower_min}')
    
defMaxMin('Iris-setosa')
defMaxMin('Iris-versicolor')
defMaxMin('Iris-virginica')

Iris-setosa 최대값 :
SepalLength            5.8
SepalWidth             4.4
PetalLength            1.9
PetalWidth             0.6
Name           Iris-setosa
dtype: object Iris-setosa 최소값 :
SepalLength            4.3
SepalWidth             2.3
PetalLength            1.0
PetalWidth             0.1
Name           Iris-setosa
dtype: object
Iris-versicolor 최대값 :
SepalLength                7.0
SepalWidth                 3.4
PetalLength                5.1
PetalWidth                 1.8
Name           Iris-versicolor
dtype: object Iris-versicolor 최소값 :
SepalLength                4.9
SepalWidth                 2.0
PetalLength                3.0
PetalWidth                 1.0
Name           Iris-versicolor
dtype: object
Iris-virginica 최대값 :
SepalLength               7.9
SepalWidth                3.8
PetalLength               6.9
PetalWidth                2.5
Name           Iris-virginica
dtype: object Iris-virginica 최소값 :
SepalLength               4.9
SepalWidth                2.2
PetalLength               4.5
PetalWidth                1.4
Name           Iris-virginica
dtype: object