## 통계 관련 메서드 실습

- 데이터에 대한 평균, 표준편차, 중앙값, 최빈값, 상관계수
- 데이터와 데이터의 관계, 데이터의 분포 파악

In [1]:
import pandas as pd

iris = pd.read_csv('../Data/iris.csv')

In [2]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [3]:
# DF 객체 통계 메서드

def get_stat(data):
    print(f'''평균 : 
{data.mean()}
          
표준편차 : 
{data.cov()}

중앙값 :
{data.median()}

최빈값 : 
{data.mode()}

상관계수 :
{data.corr}''')

In [4]:
get_stat(iris)

평균 :
SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64

표준편차 :
             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     0.685694   -0.039268     1.273682    0.516904
SepalWidth     -0.039268    0.188004    -0.321713   -0.117981
PetalLength     1.273682   -0.321713     3.113179    1.296387
PetalWidth      0.516904   -0.117981     1.296387    0.582414

중앙값 :
SepalLength    5.80
SepalWidth     3.00
PetalLength    4.35
PetalWidth     1.30
dtype: float64

최빈값 :
   SepalLength  SepalWidth  PetalLength  PetalWidth             Name
0          5.0         3.0          1.5         0.2      Iris-setosa
1          NaN         NaN          NaN         NaN  Iris-versicolor
2          NaN         NaN          NaN         NaN   Iris-virginica

상관계수 :
<bound method DataFrame.corr of      SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]>

C:\Users\User\AppData\Local\Temp\ipykernel_18336\1618026001.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  {data.mean()}
C:\Users\User\AppData\Local\Temp\ipykernel_18336\1618026001.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  {data.median()}

In [5]:
iris.cov()

             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     0.685694   -0.039268     1.273682    0.516904
SepalWidth     -0.039268    0.188004    -0.321713   -0.117981
PetalLength     1.273682   -0.321713     3.113179    1.296387
PetalWidth      0.516904   -0.117981     1.296387    0.582414

In [6]:
iris.var()

C:\Users\User\AppData\Local\Temp\ipykernel_18336\2384711547.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.var()

SepalLength    0.685694
SepalWidth     0.188004
PetalLength    3.113179
PetalWidth     0.582414
dtype: float64

In [7]:
iris.mean()

C:\Users\User\AppData\Local\Temp\ipykernel_18336\935066809.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.mean()

SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64

In [8]:
iris.corr()

             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     1.000000   -0.109369     0.871754    0.817954
SepalWidth     -0.109369    1.000000    -0.420516   -0.356544
PetalLength     0.871754   -0.420516     1.000000    0.962757
PetalWidth      0.817954   -0.356544     0.962757    1.000000

In [9]:
iris.std()

C:\Users\User\AppData\Local\Temp\ipykernel_18336\3849825860.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.std()

SepalLength    0.828066
SepalWidth     0.433594
PetalLength    1.764420
PetalWidth     0.763161
dtype: float64

In [10]:
for col in iris.columns[:4]:
    print(f'''
{col}  ---------------
평균     : {iris[col].mean()}

분산     : {iris[col].var()}

표준편차 : {iris[col].std()}

중앙값   : {iris[col].median()}

최빈값   : {iris[col].mode()[0]}

상관계수 :    ''')
    for j in iris.columns[:4]:
        if j != col:
            print(f' {j}\t: {iris[col].corr(iris[j])}')

SepalLength  ---------------
평균     : 5.843333333333335

분산     : 0.6856935123042505

표준편차 : 0.8280661279778629

중앙값   : 5.8

최빈값   : 5.0

상관계수 :
 SepalWidth	: -0.1093692499506493
 PetalLength	: 0.8717541573048712
 PetalWidth	: 0.8179536333691636

SepalWidth  ---------------
평균     : 3.0540000000000007

분산     : 0.18800402684563763

표준편차 : 0.4335943113621737

중앙값   : 3.0

최빈값   : 3.0

상관계수 :
 SepalLength	: -0.1093692499506493
 PetalLength	: -0.42051609640115445
 PetalWidth	: -0.35654408961380574

PetalLength  ---------------
평균     : 3.7586666666666693

분산     : 3.1131794183445156

표준편차 : 1.7644204199522617

중앙값   : 4.35

최빈값   : 1.5

상관계수 :
 SepalLength	: 0.871754157304871
 SepalWidth	: -0.42051609640115445
 PetalWidth	: 0.9627570970509659

PetalWidth  ---------------
평균     : 1.1986666666666672

분산     : 0.5824143176733784

표준편차 : 0.7631607417008414

중앙값   : 1.3

최빈값   : 0.2

상관계수 :
 SepalLength	: 0.8179536333691635
 SepalWidth	: -0.3565440896138058
 PetalLength	: 0.962757097050966

In [17]:
iris.isnull().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Name           0
dtype: int64