# 송인욱 0701_2번 과제
## 'iris.csv'에서 아래 결과를 도출하세요
    - Length 데이터만 추출해서 출력해주세요
    - SepallLength 컬럼에서 길이가 5.0보다 큰 컬럼의  SepalLength와 Names만 출력해주세요
    - iris-setosa, iris-versicolor, iris-virginica에서 각각 최대,최소 컬럼을 출력해 주세요

### 1. Length 데이터만 추출해서 출력해주세요

In [74]:
import pandas as pd
DIR_PATH = './data/'
FILE = DIR_PATH + 'iris.csv'
iris = pd.read_csv(FILE)

In [75]:
print(iris.info())
print(iris.index)
print(iris.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
RangeIndex(start=0, stop=150, step=1)
Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

In [76]:
irisCol = iris.columns
irisLenCol = [ i for i in irisCol if 'Length' in i]
irisLenCol

['SepalLength', 'PetalLength']

In [77]:
iris[irisLenCol]

     SepalLength  PetalLength
0            5.1          1.4
1            4.9          1.4
2            4.7          1.3
3            4.6          1.5
4            5.0          1.4
..           ...          ...
145          6.7          5.2
146          6.3          5.0
147          6.5          5.2
148          6.2          5.4
149          5.9          5.1

[150 rows x 2 columns]

### 2. SepallLength 컬럼에서 길이가 5.0보다 큰 컬럼의  SepalLength와 Names만 출력해주세요

In [78]:
result = iris['SepalLength'] > 5.0
data = iris[result].dropna(axis=0)
data = data.reset_index(drop=True)
data[['SepalLength','Name']]

     SepalLength            Name
0            5.1     Iris-setosa
1            5.4     Iris-setosa
2            5.4     Iris-setosa
3            5.8     Iris-setosa
4            5.7     Iris-setosa
..           ...             ...
113          6.7  Iris-virginica
114          6.3  Iris-virginica
115          6.5  Iris-virginica
116          6.2  Iris-virginica
117          5.9  Iris-virginica

[118 rows x 2 columns]

### 3. iris-setosa, iris-versicolor, iris-virginica에서 각각 최대,최소 컬럼을 출력해 주세요

In [79]:
irisNameIndex = iris.set_index('Name')
irisSetosa = irisNameIndex.loc['Iris-setosa']
irisVersicolor = irisNameIndex.loc['Iris-versicolor']
irisVirginica = irisNameIndex.loc['Iris-virginica']

In [80]:
print(f'setosa max = \n{irisSetosa.max()}')
print(f'setosa min = \n{irisSetosa.min()}')

setosa max =
SepalLength    5.8
SepalWidth     4.4
PetalLength    1.9
PetalWidth     0.6
dtype: float64
setosa min =
SepalLength    4.3
SepalWidth     2.3
PetalLength    1.0
PetalWidth     0.1
dtype: float64

In [81]:
print(f'versicolor max = \n{irisVersicolor.max()}')
print(f'versicolor min = \n{irisVersicolor.min()}')

versicolor max =
SepalLength    7.0
SepalWidth     3.4
PetalLength    5.1
PetalWidth     1.8
dtype: float64
versicolor min =
SepalLength    4.9
SepalWidth     2.0
PetalLength    3.0
PetalWidth     1.0
dtype: float64

In [82]:
print(f'virginica max = \n{irisVirginica.max()}')
print(f'virginica min = \n{irisVirginica.min()}')

virginica max =
SepalLength    7.9
SepalWidth     3.8
PetalLength    6.9
PetalWidth     2.5
dtype: float64
virginica min =
SepalLength    4.9
SepalWidth     2.2
PetalLength    4.5
PetalWidth     1.4
dtype: float64