## 통계 관련 메서드 실습 -----------------------------------------------------------------------------------

- 데이터에 대한 평균, 표준편차, 중앙값, 최빈값, 상관계수값 관련 메서드 활용

- 데이터와 데이터의 관계, 데이터의 분포 등을 파악

In [3]:
# 모듈 로딩 --------------------------------------------------------------------------------------------------------
import pandas as pd
DIR_PATH = '../Data/'
FILENAME = DIR_PATH +'iris.csv'

In [6]:
# (1) CSV File ==> DataFrame 으로 로딩 ------------------------------------------------------------------------------
irisDF = pd.read_csv(FILENAME)
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
# (2) DF 객체에 대한 통꼐 관련 메서드 적용 ----------------------------------------------------------------------------
irisDF.mean()

C:\Users\User\AppData\Local\Temp\ipykernel_9440\4256213483.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.mean()

SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64

In [9]:
irisDF.std()

C:\Users\User\AppData\Local\Temp\ipykernel_9440\3571167801.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.std()

SepalLength    0.828066
SepalWidth     0.433594
PetalLength    1.764420
PetalWidth     0.763161
dtype: float64

In [10]:
irisDF.median()

C:\Users\User\AppData\Local\Temp\ipykernel_9440\1330024277.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.median()

SepalLength    5.80
SepalWidth     3.00
PetalLength    4.35
PetalWidth     1.30
dtype: float64

In [12]:
irisDF.corr()

             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     1.000000   -0.109369     0.871754    0.817954
SepalWidth     -0.109369    1.000000    -0.420516   -0.356544
PetalLength     0.871754   -0.420516     1.000000    0.962757
PetalWidth      0.817954   -0.356544     0.962757    1.000000

In [15]:
# (3) 컬럼별 평균, 표준편차, 상관계수 출력하기
pd.DataFrame(irisDF.describe().loc['mean'])

                 mean
SepalLength  5.843333
SepalWidth   3.054000
PetalLength  3.758667
PetalWidth   1.198667

In [18]:
pd.DataFrame(irisDF.describe().loc['std'])

                  std
SepalLength  0.828066
SepalWidth   0.433594
PetalLength  1.764420
PetalWidth   0.763161

In [52]:
for col in irisDF.columns[:4]:
    print(f'----------{col}------------')
    print(f'평균 : {irisDF[col].mean()}')
    print(f'표준편차 : {irisDF[col].std()}')
    print(f'최빈값 : {irisDF[col].mode()[0]}')
    print(f'상관계수')
    for icol in irisDF.columns[:4]:
        if col == icol : continue
        print(f'{icol}:{irisDF[col].corr(irisDF[icol])}')
    print()

----------SepalLength------------
평균 : 5.843333333333335
표준편차 : 0.8280661279778629
최빈값 : 5.0
상관계수
SepalWidth:-0.10936924995064937
PetalLength:0.8717541573048718
PetalWidth:0.8179536333691636

----------SepalWidth------------
평균 : 3.0540000000000007
표준편차 : 0.4335943113621737
최빈값 : 3.0
상관계수
SepalLength:-0.10936924995064937
PetalLength:-0.42051609640115445
PetalWidth:-0.35654408961380535

----------PetalLength------------
평균 : 3.7586666666666693
표준편차 : 1.7644204199522617
최빈값 : 1.5
상관계수
SepalLength:0.8717541573048718
SepalWidth:-0.42051609640115445
PetalWidth:0.9627570970509663

----------PetalWidth------------
평균 : 1.1986666666666672
표준편차 : 0.7631607417008414
최빈값 : 0.2
상관계수
SepalLength:0.8179536333691637
SepalWidth:-0.35654408961380535
PetalLength:0.9627570970509663