# 데이터 갯수와 고유값

- 컬럼별 개수 <===> count메서드
- 컬럼별 고유값 ====> unique()
- 컬럼별 값별 개수 => value_counts()

In [110]:
import pandas as pd

In [111]:
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH + 'iris.csv'

df=pd.read_csv(FILE_NAME)
df

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [112]:
# DF colums 정보확인
df.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

In [113]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [114]:
df.shape, df.ndim

((150, 5), 2)

In [115]:
# 원하는 작업 수행
# 'Name 컬럼 추출 => DF객체변수명[ 컬럼명 ]
df['Name']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Name, Length: 150, dtype: object

In [116]:
# 'Name' 컬럼의 데이터 갯수
df['Name'].count()
df.Name.count()

150

In [117]:
# 'Name' 컬럼의 고유값 -> 값의 종류
df.Name.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [118]:
# 컬럼의 값의 갯수
df.Name.value_counts()
df['Name'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Name, dtype: int64

In [119]:
# SepalLength 컬럼의 데이터 갯수
valueSR = df.SepalLength.count()

In [120]:
# SepalLength 컬럼의 값 갯수
df.SepalLength.value_counts().max()     #  컬럼의 값의 갯수 중 최댓값은?

10

In [121]:
# SepalLength 컬럼의 데이터 갯수
df.SepalLength.value_counts().argmax()   #  0번 인덱스값이 제일 많다. # 객체 안에서 최대값이 존재하는 인덱스

0

In [122]:
# # SepalLength 컬럼의 고유값,값의 종류
df.SepalLength.unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [123]:
valueSR.max()

150

In [124]:
valueSR.argmin()  # 객체 안에서 최솟값이 존재하는 인덱스

0

In [125]:
valueSR.index[valueSR.argmax()]

AttributeError: 'numpy.int64' object has no attribute 'index'

In [ ]:
type(valueSR)