# 결측치 처리 2
- (1) NaN으로 처리해야 되는 데이터를 찾기
- (2) 데이터를 NaN으로 변경
- (3) NaN데이터 처리

In [6]:
import pandas as pd

In [7]:
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH + 'auto_mpg.csv'
df=pd.read_csv(FILE_NAME)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [9]:
print(f'shape => {df.shape()}, index => {df.index}, columns => {df.columns}')

TypeError: 'tuple' object is not callable

In [ ]:
df.head()

In [ ]:
# 데이터 전처리
df.horsepower

In [ ]:
# 타입 변경 => astype(타입)
# df.horsepower.astype(int)

In [ ]:
# (2) 문제가 되는 데이터를 NaN으로 변경하기 => replace(원래값, 새로운 값)
# NaN 상수 사용을 위해서 Numpy 모듈 포함
import numpy as np

In [ ]:
np.horsepower.replace('?', np.nan, inplace=True)

In [ ]:
df.insull().sum()

In [ ]:
# NaN => 0으로 채우기
df.fillna(0, inplace=True)
df.isnull().sum()

In [ ]:
# horesepower 컬럼을 object => int로 타입 변경 : astype()
df.horsepower.astype(int)