# [실습] ------------------
    - CSV 파일 읽고 컬럼별 최고값과 값의 개수 출력

In [2]:
import pandas as pd
DIR = '../Data/'
NAME = 'iris2.csv'
FILE = DIR + NAME
iris2 = pd.read_csv(FILE, header=None)
iris2.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [3]:
irismax = iris2.max(numeric_only=True)
irismin = iris2.min(numeric_only=True)
irisCount = iris2.count()
result = pd.DataFrame(
    [irisCount,irismax, irismin],
    index=['count','max','min']
)
result

           0      1      2      3      4
count  137.0  150.0  150.0  150.0  150.0
max      7.9    4.4    6.9    2.5    NaN
min      4.3    2.0    1.0    0.1    NaN

In [9]:
iris2[0].value_counts(dropna=False)

NaN    13
5.1     9
5.0     9
6.3     9
5.7     8
6.7     7
5.5     7
6.4     6
5.6     6
5.8     6
4.9     6
6.1     5
6.5     5
7.7     4
6.2     4
6.0     4
6.9     4
5.4     4
4.8     4
4.6     4
5.9     3
4.4     3
7.2     3
6.8     3
5.2     2
6.6     2
7.6     1
7.4     1
4.7     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: 0, dtype: int64