# [실습]

iris2.csv 파일 읽고 컬럼별 최고값과 값의 개수 출력하기

In [1]:
import pandas as pd

In [2]:
# irisdf2 = pd.read_csv('../data/iris2.csv',
#                       header=None,
#                       sep=',',
#                       columns=[])
irisdf2 = pd.read_csv('../data/iris2.csv', header=None)
print(irisdf2)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [55]:
print(irisdf2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

---
## 1. 컬럼별 최고값 구하기

In [68]:
# column0 max value
m = irisdf2[0].max()
i = irisdf2[0][irisdf2[0]==m].index[0]
print(f'index {i}, max value {m}')

index 131, max value 7.9

In [45]:
# 0, 1, 2, 3, 4 columns max value
for col in irisdf2.columns:
    print(irisdf2[col].max())

7.9
4.4
6.9
2.5
Iris-virginica

In [58]:
# 모든 컬럼 최대값 한번에 구하기
print(irisdf2.describe(include='all'))

                 0           1           2           3            4
count   150.000000  150.000000  150.000000  150.000000          150
unique         NaN         NaN         NaN         NaN            3
top            NaN         NaN         NaN         NaN  Iris-setosa
freq           NaN         NaN         NaN         NaN           50
mean      5.843333    3.054000    3.758667    1.198667          NaN
std       0.828066    0.433594    1.764420    0.763161          NaN
min       4.300000    2.000000    1.000000    0.100000          NaN
25%       5.100000    2.800000    1.600000    0.300000          NaN
50%       5.800000    3.000000    4.350000    1.300000          NaN
75%       6.400000    3.300000    5.100000    1.800000          NaN
max       7.900000    4.400000    6.900000    2.500000          NaN

In [65]:
# column 0~4 max value
print(type(irisdf2.describe().loc['max']))
print(irisdf2.describe().loc['max'])

<class 'pandas.core.series.Series'>
0    7.9
1    4.4
2    6.9
3    2.5
Name: max, dtype: float64

In [63]:
# column 4 max value
print(type(irisdf2[4].max()))
print(irisdf2[4].max())

<class 'str'>
Iris-virginica

---
# 컬럼 값의 개수 출력하기

In [77]:
for col in irisdf2.columns:
    print('column'+str(col)+' max value', irisdf2[col].max())

column0 max value 7.9
column1 max value 4.4
column2 max value 6.9
column3 max value 2.5
column4 max value Iris-virginica

In [72]:
# 컬럼 값의 개수 한번에 구하기
print(type(irisdf2.describe(include='all').loc['count']))
print(irisdf2.describe(include='all').loc['count'])

<class 'pandas.core.series.Series'>
0    150.0
1    150.0
2    150.0
3    150.0
4      150
Name: count, dtype: object

In [109]:
# 개별 컬럼 안의 각각의 데이터 개수
print(irisdf2[0].value_counts())
print(irisdf2[1].value_counts())
print(irisdf2[2].value_counts())
print(irisdf2[3].value_counts())
print(irisdf2[4].value_counts())

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: 0, dtype: int64
3.0    26
2.8    14
3.2    13
3.1    12
3.4    12
2.9    10
2.7     9
2.5     8
3.5     6
3.3     6
3.8     6
2.6     5
2.3     4
3.7     3
2.4     3
2.2     3
3.6     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: 1, dtype: int64
1.5    14
1.4    12
5.1     8
4.5     8
1.6     7
1.3     7
5.6     6
4.7     5
4.9     5
4.0     5
4.2     4
5.0     4
4.4     4
4.8     4
1.7     4
3.9     3
4.6     3
5.7     3
4.1     3
5.5     3
6.1     3
5.8     3
3.3     2
5.4     2
6.7     2
5.3     2
5.9     2
6.0     2
1.2     2
4.3     2
1.9     2
3.5     2
5.2     2
3.0     1
1.1     1
3.7     1
3.8     1
6.6     1
6.3     1
1.0     1
6.9     1
3.6     1
6.4     1
Name: 2, dtype: int64
0.2    28
1.3    13
1.8    12
1.5    12
1.4     8
2.3     8
1.0     7
0.4     7
0.3     7
0.1     6
2.1     6
2.0     6
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: 3, dtype: int64
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: 4, dtype: int64