# [실습] ------------------
    - CSV 파일 읽고 컬럼별 최고값과 값의 개수 출력

In [23]:
import pandas as pd
DIR = '../Data/'
NAME = 'iris2.csv'
FILE = DIR + NAME
iris2 = pd.read_csv(FILE, header=None)
iris2.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [24]:
irismax = iris2.max(numeric_only=True)
irismin = iris2.min(numeric_only=True)
irisCount = iris2.count()
result = pd.DataFrame(
    [irisCount,irismax, irismin],
    index=['count','max','min']
)
result

           0      1      2      3      4
count  137.0  150.0  150.0  150.0  150.0
max      7.9    4.4    6.9    2.5    NaN
min      4.3    2.0    1.0    0.1    NaN