# 시리즈 Series 타입 실습
- Pandas의 1종류(1차원 배열/세로 벡터) 데이터를 저장하는 데이터 타입(Type)
- 생성 : series 객체 생성

In [189]:
# 모듈 로딩
import pandas as pd

# Series 객체 생성
sr=pd.Series([1,2,3,4])

In [190]:
# 생성된 Series 객체 데이터 확인하기
sr

0    1
1    2
2    3
3    4
dtype: int64

In [191]:
# Series 객체의 속성(Attribute) 확인 => 객체변수명.속성명

# 인덱스 속성
sr.index

RangeIndex(start=0, stop=4, step=1)

In [192]:
# 값 속성
sr.values

array([1, 2, 3, 4], dtype=int64)

In [193]:
# 차원(dimention) 속성
sr.ndim

1

In [194]:
# 형(shape) 속성
sr.shape
# 1차원이라 (4,)로 나옴. tuple / 형 속성은 육각면체, 정사면체 등 차원?

(4,)

In [195]:
# 배열 속성?
sr.array

<PandasArray>
[1, 2, 3, 4]
Length: 4, dtype: int64

In [196]:
# nbytes 실제사용 메모리, size 데이터 갯수
sr.nbytes, sr.size
# in64는 8바이트씀. sr=pd.Series[(1,2,3,4)] 4개 이므로 32

(32, 4)

## ------------------------------------------------------------------------------

In [197]:
# 여러 타입의 데이터로 Series 객체 생성
sr2=pd.Series([1,4,'A',4.5])
sr2
# 다 섞여서 타입이 오브젝트

0      1
1      4
2      A
3    4.5
dtype: object

In [198]:
# Series 객체 속성 읽기
print( f'index => {sr2.index}' )
print( f'values => {sr2.values} | values type => {type(sr2.values)}' )    # 빠르게 읽고 쓰기 위해서 넘파이 타입으로 저장함.
print( f'array => {sr2.array}' )
print(sr2)

index => RangeIndex(start=0, stop=4, step=1)
values => [1 4 'A' 4.5] | values type => <class 'numpy.ndarray'>
array => <PandasArray>
[1, 4, 'A', 4.5]
Length: 4, dtype: object
0      1
1      4
2      A
3    4.5
dtype: object

## ------------------------------------------------------------------------------

In [199]:
# Dict 데이터로 Series 객체 생성
sr3=pd.Series({'name':'HONG', 'age':12, 'loc':'Daegu'})
sr3

name     HONG
age        12
loc     Daegu
dtype: object

In [200]:
# Series 객체 생성
sr=pd.Series(['a','b','c'], index=['하나','둘','셋'])
sr

하나    a
둘     b
셋     c
dtype: object

In [201]:
sr2=pd.Series(['a','b','c'])
sr2

0    a
1    b
2    c
dtype: object

In [202]:
# 인덱스 새로운 값으로 설정 => 객체변수명.속석명= 새로운 값
sr2.index=[11,22,33]
sr2

11    a
22    b
33    c
dtype: object

In [203]:
# 객체 속성 읽기
# s.속성명
# print(s.index)

# 객체 속성 새로운 값 저장
# s.속성명 = 새로운 값
# s.index=[11,22,33]

## ------------------------------------------------------------------------------

### Series 객체의 원소/요소 다루기
- 방법1 : 시리즈 객체.[인덱스 번호]
- 방법2 : 시리즈 객체.[인덱스 라벨]

In [204]:
# 1번 원소 읽기
sr2.index # 현재 sr2의 인덱스 확인

Int64Index([11, 22, 33], dtype='int64')

In [205]:
sr2[22]

'b'

In [206]:
# 문자형 인덱스로 새롭게 설정
sr2.index=['one','two','three']
sr2.index

Index(['one', 'two', 'three'], dtype='object')

In [207]:
sr2['two'], sr2[1], sr2['three'], sr2[2]

('b', 'b', 'c', 'c')

In [208]:
sr3=pd.Series({'name':'Hong', 'age':12})
sr3

name    Hong
age       12
dtype: object

In [209]:
sr3.index

Index(['name', 'age'], dtype='object')

In [210]:
sr3['age'], sr3['name']

(12, 'Hong')

In [211]:
sr3[0], sr3[1]

('Hong', 12)

In [212]:
# 튜플
sr4=pd.Series(('2022-06-30', 'Pandas', True, 4.55, 'No work'))
sr4

0    2022-06-30
1        Pandas
2          True
3          4.55
4       No work
dtype: object

In [213]:
sr4.index=['날짜', '과목', '불린', '실수', '희망사항']
sr4

날짜      2022-06-30
과목          Pandas
불린            True
실수            4.55
희망사항       No work
dtype: object

In [214]:
# (1) 0번요소, 3번요소, 4번요소 읽어서 출력
print(sr4[0], sr4[3], sr4[4])
print(sr4['날짜'], sr4['실수'], sr4['희망사항'])

print(type(sr4[0]), type(sr4[3]), type(sr4[4]))
print(sr4[ [0,3,4] ], type(sr4[ [0,3,4] ]))


# (2) 1번요소부터 끝까지 요소값 출력
print(sr4[1:])
print(sr4['과목':])

# (3) 1번요소부터 3번요소까지 요소값 출력
print(sr4[1:4])
print(sr4['과목':'희망사항']) # 인덱스라벨은 끝원소로 포함(인덱스와 달리)

2022-06-30 4.55 No work
2022-06-30 4.55 No work
<class 'str'> <class 'float'> <class 'str'>
날짜      2022-06-30
실수            4.55
희망사항       No work
dtype: object <class 'pandas.core.series.Series'>
과목       Pandas
불린         True
실수         4.55
희망사항    No work
dtype: object
과목       Pandas
불린         True
실수         4.55
희망사항    No work
dtype: object
과목    Pandas
불린      True
실수      4.55
dtype: object
과목       Pandas
불린         True
실수         4.55
희망사항    No work
dtype: object