In [1]:
import pandas as pd

#### ex_row_col

- DataFrame에서 데이터 추출
    - 열(컬럼 column 세로벡터) 단위 데이터 추출  
        - df[ '컬럼 명' ]
        - df.'컬럼 명'  
        
        
    - 행(로우 row 가로 벡터) 단위 데이터 추출
        - df.loc[ '인덱스 라벨' ]
        - df.iloc[ index ]  
        
        
    - 원소 단위 데이터 추출
        - df.loc[ '행 인덱스 라벨', '열 인덱스 라벨' ]
        - df.iloc[ row index, col index ]
        
        - df[ '컬럼 명' ][ index ]

In [2]:
# DF 객체 생성
df = pd.DataFrame([[1,2,3], [11,22,33]])

# DF 객체 요약 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      int64
 1   1       2 non-null      int64
 2   2       2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [3]:
# DF 객체 구성 확인
df

    0   1   2
0   1   2   3
1  11  22  33

In [4]:
df[1]

0     2
1    22
Name: 1, dtype: int64

In [5]:
df.loc[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [6]:
df.iloc[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [7]:
df.loc[0:1]

    0   1   2
0   1   2   3
1  11  22  33

In [8]:
df.iloc[0:2]

    0   1   2
0   1   2   3
1  11  22  33

In [9]:
df[[0,2]]

    0   2
0   1   3
1  11  33

In [10]:
df.columns = ['하나', '둘', '셋']
df.index = ['영', '일']
df

   하나   둘   셋
영   1   2   3
일  11  22  33

In [11]:
df.loc['영']

하나    1
둘     2
셋     3
Name: 영, dtype: int64

In [12]:
df.loc['일':]

   하나   둘   셋
일  11  22  33

In [13]:
df.iloc[1:]

   하나   둘   셋
일  11  22  33

In [14]:
df.loc[1]

KeyError: 1

In [ ]:
df.T

In [ ]:
exam_data = {'수학': [90,90,90], '영어': [100,50,90], '음악': [40,60,80], '체육':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
df

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.loc[['우현']]

In [ ]:
df.iloc[[0,2]]

In [ ]:
df['음악']

In [ ]:
df.loc[['우현'],['음악']]

In [ ]:
type(df.loc[['우현'],['음악']])

In [ ]:
df['영어'][0]

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.loc['지현'] = [100, 100, 100, 100]
df

In [ ]:
df['과학'] = [80, 60, 40, 100]
df

In [ ]:
df.loc['혜주'] = 100
df

##### DF에서 행, 열 삭제
- df.drop('행 이름')
- df.drop('열 이름', axis =1)

    
    - 실제 데이터에서 삭제하지 않음 > 삭제한 복사본 반환
    - inplace = True : 실제 데이터 변경

In [ ]:
df.drop('인아', inplace = True)

In [ ]:
df.drop('음악', axis = 1, inplace = True)

In [ ]:
df

In [ ]:
for i, x in df.iterrows():
    print(i,'\n', x,'\n')
    
for i, x in enumerate(df):
    print(i, x)

In [ ]:
# 행 열 전환
print(df.transpose())
print(df.T)

#### Index 다루기
- 인덱스 일부 변경
- 특정 컬럼을 인덱스로 설정
- 기존 인덱스에 추가
- 인덱스를 column으로 (0-base 인덱스로 리셋)

In [ ]:

import pandas as pd

data = {'이름' : [ '서준', '우현', '인아'],
        '수학' : [ 90, 80, 70],
        '영어' : [ 98, 89, 95],
        '음악' : [ 85, 95, 100],
        '체육' : [ 100, 90, 90]}

df = pd.DataFrame(data)
# df.set_index('이름', inplace = True)
df

In [ ]:
# DF의 속성 읽기 > index, columns, shape
print(f'index : {df.index.values}')
print(f'columns : {df.columns.values}')
print(f'shape : {df.shape}')

print(f'info : {df.info()}')

In [ ]:
# 특정 컬럼을 인덱스 설정 > 중복, null 없어야한다 > 멀티 인덱스

df.set_index('이름')

In [ ]:
df.set_index(['이름', '수학'], inplace= True)

In [ ]:
# 인덱스 초기화(리셋)
# - 기존 인덱스는 컬럼으로 추가

df.reset_index(inplace = True)

In [ ]:
df

In [ ]:
df.loc[3] = ['서준', 89, 34,25,90]
df

In [ ]:
df.reindex(['아', '왜', '안', '돼'])