In [54]:
# 모듈 실행
import pandas as pd

In [55]:
# 파일 가져오기
DIR_PATH='./Data/'
FILE_NAME=DIR_PATH + 'iris.csv'

In [56]:
# iris.csv 읽고 irisDataFrame으로 저장하기
irisDF=pd.read_csv(FILE_NAME)

In [57]:
irisDF

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [58]:
# irisDF 정보 보기
irisDF.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [109]:
IRdes=irisDF.describe(include='all')
IRdes

        SepalLength  SepalWidth  PetalLength  PetalWidth         Name
count    150.000000  150.000000   150.000000  150.000000          150
unique          NaN         NaN          NaN         NaN            3
top             NaN         NaN          NaN         NaN  Iris-setosa
freq            NaN         NaN          NaN         NaN           50
mean       5.843333    3.054000     3.758667    1.198667          NaN
std        0.828066    0.433594     1.764420    0.763161          NaN
min        4.300000    2.000000     1.000000    0.100000          NaN
25%        5.100000    2.800000     1.600000    0.300000          NaN
50%        5.800000    3.000000     4.350000    1.300000          NaN
75%        6.400000    3.300000     5.100000    1.800000          NaN
max        7.900000    4.400000     6.900000    2.500000          NaN

#### 'Length' 데이터만 추출하기

In [107]:
# 'Length' 데이터만 추출하기
# lengthData=[]
# for s in irisDF.columns:
#      if 'Length' in s:
#         lengthData.append(s)
# print(lengthData)

irisDF['SepalLength'], irisDF['PetalLength']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLength, Length: 150, dtype: float64

#### SepalLength 컬럼에서 길이가 5.0보다 큰 걸럼의 SepalLength와 Names만 출력

In [102]:
SL5=irisDF[irisDF.SepalLength >= 5.0]
SL5[['SepalLength','Name']]

# irisDF[irisDF['SepalLength']>5.0]['Name']

     SepalLength            Name
0            5.1     Iris-setosa
4            5.0     Iris-setosa
5            5.4     Iris-setosa
7            5.0     Iris-setosa
10           5.4     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[128 rows x 2 columns]

##### Iris-setosa, Iris-versicolor, Iris-virginica에서 각각 최대, 최소 컬럼을 출력

- 특정열 평균값 => DF객체['열이름'].mean()
- 특정열 중간값 => DF객체['열이름'].midian()
- 특정열 최대값 => DF객체['열이름'].max()
- 특정열 중간값 => DF객체['열이름].min()

In [115]:
print(irisDF[irisDF.Name =='Iris-setosa'].max())
print(irisDF[irisDF.Name =='Iris-setosa'].min())

SepalLength            5.8
SepalWidth             4.4
PetalLength            1.9
PetalWidth             0.6
Name           Iris-setosa
dtype: object
SepalLength            4.3
SepalWidth             2.3
PetalLength            1.0
PetalWidth             0.1
Name           Iris-setosa
dtype: object

In [116]:
print(irisDF[irisDF.Name =='Iris-versicolor'].max())
print(irisDF[irisDF.Name =='Iris-versicolor'].min())

SepalLength                7.0
SepalWidth                 3.4
PetalLength                5.1
PetalWidth                 1.8
Name           Iris-versicolor
dtype: object
SepalLength                4.9
SepalWidth                 2.0
PetalLength                3.0
PetalWidth                 1.0
Name           Iris-versicolor
dtype: object

In [117]:
print(irisDF[irisDF.Name =='Iris-virginica'].max())
print(irisDF[irisDF.Name =='Iris-virginica'].min())

SepalLength               7.9
SepalWidth                3.8
PetalLength               6.9
PetalWidth                2.5
Name           Iris-virginica
dtype: object
SepalLength               4.9
SepalWidth                2.2
PetalLength               4.5
PetalWidth                1.4
Name           Iris-virginica
dtype: object