# 0701 과제 - 정한수

### 데이터 가져오기

In [ ]:
import pandas as pd

FILE_PATH = './Data/'
FILE_NAMES = ['남북한발전전력량.xlsx', 'iris.csv']

In [ ]:
people = pd.read_excel(FILE_PATH + FILE_NAMES[0], index_col = [0,1]).drop((   '전출지별',    '전입지별')) # 1행 빼고 읽기
electric = pd.read_excel(FILE_PATH + FILE_NAMES[1], index_col = [0,1])
iris = pd.read_csv(FILE_PATH + FILE_NAMES[2])

In [ ]:
people

In [ ]:
electric.T

In [ ]:
iris

## 1. 남북한 발전 전력량

#### 1.2 요약 정보 출력

In [ ]:
def print_detail(data):
    print(f'--- data detail ------------------------------', end = '\n\n')
    print(f'shape   : {data.shape}', end = '\n\n')
    print(f'columns : {data.columns.values}', end = '\n\n')
    print(f'index   : {data.index.values}', end = '\n\n')
    print(f'{data.info()}', end = '\n\n')

In [ ]:
print_detail(electric)

#### 1.3  1990~2016 컬럼에서 컬럼별 최대값, 최소값

In [ ]:
import numpy as np
electric = electric.replace('-', np.nan)
electric

In [ ]:
pd.DataFrame( {'max' : electric.max(), 'min': electric.min()}).T

#### 1.4 1990~2016 컬럼에서 짝수 컬럼 데이터만 출력

In [ ]:
# list comprehension 이용
electric[[x for x in electric.columns if int(x)%2 ==0]]

In [ ]:
# list comprehension 없이
odd_cols = []
for x in electric.columns:
    if int(x)%2 ==0:
        odd_cols.append(x)

electric[odd_cols]

In [ ]:
# for문 이용
cond_cols = []
for x in electric.columns:
    if int(x)%2 ==0:
        cond_cols.append(x)
electric[cond_cols]

#### 1.5  전력량과 발전 전력별을 하나의 컬럼으로 합치고 합친 컬럼을 추가

In [ ]:
electric.reset_index(inplace = True)

In [ ]:
new_ind = electric[electric.columns[0]]+' / ' + electric[electric.columns[1]]

In [ ]:
electric['new_ind'] =new_ind

In [ ]:
electric

#### 1.6  5번에서 생성된 컬럼을 인덱스로 설정

In [ ]:
electric.set_index(new_ind, inplace = True)
electric.drop(electric.columns[[0,1]], axis = 1, inplace = True)

In [ ]:
electric

## 2. iris

In [ ]:
iris

####  2.1 Length 데이터만 추출해서 출력

In [ ]:
# list comprehension 이용
iris[[x for x in iris.columns if 'Length' in x]]

In [ ]:
# list comprehension 없이
len_col = []
for x in iris.columns:
    if 'Length' in x:
        len_col.append(x)
        
iris[len_col]

#### 2.2 SepalLength 컬럼에서 길이가 5.0보다 큰 걸럼의 SepalLength와 Names

In [ ]:
cond = iris['SepalLength'] > 5.0
iris[['SepalLength', 'Name']][cond]

#### 2.3  Iris-setosa, Iris-versicolor, Iris-virginica에서 각각 최대, 최소 컬럼을 출력

In [ ]:
max_data = iris.groupby('Name').max()
max_result = []
for name in iris.Name.unique():
    name_max_data = max_data.loc[name]
    max_col = name_max_data[name_max_data == name_max_data.max()]
    print(max_col.index.values[0])
    max_result.append(max_col.index.values[0])
    
    
min_data = iris.groupby('Name').max()
min_result = []
for name in iris.Name.unique():
    name_min_data = min_data.loc[name]
    min_col = name_min_data[name_min_data == name_min_data.min()]
    print(name_min_data)
    min_result.append(min_col.index.values[0])
    
pd.DataFrame({'max' : max_result, 'min' : min_result}, index = iris.Name.unique())

In [ ]:
iris.groupby('Name').max()

In [ ]:
iris.groupby('Name').min()

##### groupby 사용 안하고 만들기

In [ ]:
max_cols = []
min_cols = []
    
for name in  iris.Name.unique():
    name_data = iris[iris.Name == name].drop('Name',axis =1)
    name_max_data = name_data.max()
    max_col = name_max_data[name_max_data == name_max_data.max()]
    print(max_col.index.values[0])
    max_cols.append(max_col.index.values[0])

for name in  iris.Name.unique():
    name_data = iris[iris.Name == name].drop('Name',axis =1)
    name_min_data = name_data.min()
    min_col = name_min_data[name_min_data == name_min_data.min()]
    print(min_col.index.values[0])
    min_cols.append(min_col.index.values[0])

    

    
pd.DataFrame({'max' : max_cols, 'min' : min_cols}, index = iris.Name.unique())