# 1. 남북한 발전 전력량 데이터 분석

- 데이터 주제: 남한과 북한의 발전 전력별 전력 사용량 통계 자료
- 데이터 유형: 연속형 다중 변수 데이터(Numerical Data)

---
## 1-1. 기본 정보

- 1990년부터 2016년까지의 년도별 전력 사용량(29 columns)
- 국가별 발전 전력 세부 카테고리(9 rows)
  - 남한: 합계/수력/화력/원자력/신재생
  - 북한: 합계/수력/화력/원자력

In [ ]:
import pandas as pd


DIR_PATH = '../data/'
FILE_NAME1 = DIR_PATH + '남북한발전전력량.xlsx'
FILE_NAME2 = DIR_PATH + 'iris.csv'

In [ ]:
ex_data = pd.read_excel(FILE_NAME1)
electDF = pd.DataFrame(data=ex_data)
electDF.head()

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195

In [ ]:
electDF.shape

(9, 29)

In [ ]:
electDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  2 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       9 non-null      object
 3   1991       9 non-null      object
 4   1992       9 non-null      object
 5   1993       9 non-null      object
 6   1994       9 non-null      object
 7   1995       9 non-null      object
 8   1996       9 non-null      object
 9   1997       9 non-null      object
 10  1998       9 non-null      object
 11  1999       9 non-null      object
 12  2000       9 non-null      object
 13  2001       9 non-null      object
 14  2002       9 non-null      object
 15  2003       9 non-null      object
 16  2004       9 non-null      object
 17  2005       9 non-null      object
 18  2006       9 non-null      object
 19  2007       9 non-null      object
 20  2008       9 non-null      object
 21  2009       9 non-null      object
 22  2010       9 non-null      object
 23  2011       9 non-null      object
 24  2012       9 non-null      object
 25  2013       9 non-null      object
 26  2014       9 non-null      object
 27  2015       9 non-null      object
 28  2016       9 non-null      object
dtypes: object(29)
memory usage: 2.2+ KB

---
## 1-2. 데이터 누락값/결측치 정보

- NaN value는 전력량(억kWH)에서만 존재
- 년도별 데이터 안에 str 문자열('-')이 포함되어 있음
- 중복 데이터 처리는 하지 않음

In [ ]:
# 전체 데이터에서 누락값/결측치 확인
electDF.isnull()

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# 년도별 데이터 안에 '-' str value가 포함되어 있는 것을 확인
electDF.loc[:, '1990':'2016']

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,1077,1186,1310,1444,1650,1847,2055,2244,2153,2393,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,64,51,49,60,41,55,52,54,61,61,...,50,56,56,65,78,77,84,78,58,66
2,484,573,696,803,1022,1122,1264,1420,1195,1302,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,529,563,565,581,587,670,739,771,897,1031,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,277,263,247,221,231,230,213,193,170,186,...,236,255,235,237,211,215,221,216,190,239
6,156,150,142,133,138,142,125,107,102,103,...,133,141,125,134,132,135,139,130,100,128
7,121,113,105,88,93,88,88,86,68,83,...,103,114,110,103,79,80,82,86,90,111
8,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [ ]:
# True로 표시된 곳이 '-' 데이터의 위치
electDF.loc[:, '1990':'2016'].isin(['-'])

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

---
## 1-3. 전력 사용량 조회

- 2개의 컬럼 통합 후 인덱스 설정
- 1990년 ~ 2016년까지 짝수년도에 해당하는 전력량 데이터
- 국가, 년도별 전력 최대, 최소 사용 분야 및 사용량
- 국가, 발전 전력별 전력량 최대, 최소 년도 조회


### 1-3-1. 2개의 컬럼 통합 후 인덱스 설정
'전력량 (억㎾h)'과 '발전 전력별' 컬럼을 '발전 전력별 전력량(억㎾h)'으로 통합 후 인덱스로 설정

In [ ]:
# 데이터가 어떤 카테고리로 구성되어 있는지 확인
electDF2 = electDF.copy()
electDF2.columns

Index(['전력량 (억㎾h)', '발전 전력별', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

In [ ]:
# '전력량 (억㎾h)'과 '발전 전력별' 컬럼을 합쳐서 첫번째 열에 추가
new = electDF.fillna('').loc[:, '전력량 (억㎾h)']\
      + ' ' + electDF.loc[:, '발전 전력별']
electDF2.insert(loc=0, column='발전 전력별 전력량(억kWh)', value=new)

In [ ]:
# 기존 컬럼 삭제
electDF2.drop(columns=['전력량 (억㎾h)', '발전 전력별'], inplace=True)

In [ ]:
# 인덱스 설정
electDF2_fin = electDF2.set_index('발전 전력별 전력량(억kWh)')
electDF2_fin

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
발전 전력별 전력량(억kWh),,,,,,,,,,,,,,,,,,,,,
남한 합계,1077,1186,1310,1444,1650,1847,2055,2244,2153,2393,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
수력,64,51,49,60,41,55,52,54,61,61,...,50,56,56,65,78,77,84,78,58,66
화력,484,573,696,803,1022,1122,1264,1420,1195,1302,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
원자력,529,563,565,581,587,670,739,771,897,1031,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
신재생,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
북한 합계,277,263,247,221,231,230,213,193,170,186,...,236,255,235,237,211,215,221,216,190,239
수력,156,150,142,133,138,142,125,107,102,103,...,133,141,125,134,132,135,139,130,100,128
화력,121,113,105,88,93,88,88,86,68,83,...,103,114,110,103,79,80,82,86,90,111
원자력,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

### 1-3-2. 1990년 ~ 2016년까지 짝수년도에 해당하는 전력량 데이터

In [ ]:
electDF2_fin.iloc[:, 0::2]

,1990,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
발전 전력별 전력량(억kWh),,,,,,,,,,,,,,
남한 합계,1077,1310,1650,2055,2153,2664,3065,3421,3812,4224,4747,5096,5220,5404
수력,64,49,41,52,61,56,53,59,52,56,65,77,78,66
화력,484,696,1022,1264,1195,1518,1821,2056,2272,2658,3196,3430,3427,3523
원자력,529,565,587,739,897,1090,1191,1307,1487,1510,1486,1503,1564,1620
신재생,-,-,-,-,-,-,-,-,-,-,-,86,151,195
북한 합계,277,247,231,213,170,194,190,206,225,255,237,215,216,239
수력,156,142,138,125,102,102,106,125,126,141,134,135,130,128
화력,121,105,93,88,68,92,84,81,99,114,103,80,86,111
원자력,-,-,-,-,-,-,-,-,-,-,-,-,-,-

### 1-3-3. 국가, 년도별 전력량 최대, 최소 분야 및 사용량

- 남한과 북한의 전력량 최대, 최소 분야를 각 년도별로 조회
- 전력 사용량 최대값을 구할 때 '합계' 행의 데이터가 집계되지 않도록 데이터를 재구성

In [ ]:
# 남한, 북한의 합계 행을 제외한 데이터
electDF3 = electDF2.copy()
electDF3.drop([0, 5], inplace=True)
electDF3

,발전 전력별 전력량(억kWh),1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,수력,64,51,49,60,41,55,52,54,61,...,50,56,56,65,78,77,84,78,58,66
2,화력,484,573,696,803,1022,1122,1264,1420,1195,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,원자력,529,563,565,581,587,670,739,771,897,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,신재생,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
6,수력,156,150,142,133,138,142,125,107,102,...,133,141,125,134,132,135,139,130,100,128
7,화력,121,113,105,88,93,88,88,86,68,...,103,114,110,103,79,80,82,86,90,111
8,원자력,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [ ]:
# '-'을 제외한 최대값 구하기
year_data = electDF3.loc[:, '1990':'2016']
year_data = year_data[~year_data.isin(['-'])]
m = year_data['1990'].max(skipna=True)
m

529

In [ ]:
# 최대값에 해당하는 발전 분야
i = year_data['1990'].index[year_data['1990']==m][0]
electDF3['발전 전력별 전력량(억kWh)'][i]

' 원자력'

In [ ]:
# 남한 데이터
남한 = year_data.iloc[:4]
남한

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,64,51,49,60,41,55,52,54,61,61,...,50,56,56,65,78,77,84,78,58,66
2,484,573,696,803,1022,1122,1264,1420,1195,1302,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,529,563,565,581,587,670,739,771,897,1031,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,86,118,151,173,195

In [ ]:
# 북한 데이터
북한 = year_data.iloc[4:6]
북한

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
6,156,150,142,133,138,142,125,107,102,103,...,133,141,125,134,132,135,139,130,100,128
7,121,113,105,88,93,88,88,86,68,83,...,103,114,110,103,79,80,82,86,90,111

In [ ]:
def test_max(nation):
    for year in electDF3.columns[1:]:
        m = nation[year].max(skipna=True)
        i = nation[year][nation[year]==m].index[0]
        print(year+"년 전력량 사용 최대 분야:"
              +electDF3['발전 전력별 전력량(억kWh)'][i]
              +" "+str(m)+"(억kWh)")
print('남한 년도별 전력량 사용 최대 분야 및 사용량')
test_max(남한)

남한 년도별 전력량 사용 최대 분야 및 사용량
1990년 전력량 사용 최대 분야: 원자력 529(억kWh)
1991년 전력량 사용 최대 분야: 화력 573(억kWh)
1992년 전력량 사용 최대 분야: 화력 696(억kWh)
1993년 전력량 사용 최대 분야: 화력 803(억kWh)
1994년 전력량 사용 최대 분야: 화력 1022(억kWh)
1995년 전력량 사용 최대 분야: 화력 1122(억kWh)
1996년 전력량 사용 최대 분야: 화력 1264(억kWh)
1997년 전력량 사용 최대 분야: 화력 1420(억kWh)
1998년 전력량 사용 최대 분야: 화력 1195(억kWh)
1999년 전력량 사용 최대 분야: 화력 1302(억kWh)
2000년 전력량 사용 최대 분야: 화력 1518(억kWh)
2001년 전력량 사용 최대 분야: 화력 1689(억kWh)
2002년 전력량 사용 최대 분야: 화력 1821(억kWh)
2003년 전력량 사용 최대 분야: 화력 1859(억kWh)
2004년 전력량 사용 최대 분야: 화력 2056(억kWh)
2005년 전력량 사용 최대 분야: 화력 2127(억kWh)
2006년 전력량 사용 최대 분야: 화력 2272(억kWh)
2007년 전력량 사용 최대 분야: 화력 2551(억kWh)
2008년 전력량 사용 최대 분야: 화력 2658(억kWh)
2009년 전력량 사용 최대 분야: 화력 2802(억kWh)
2010년 전력량 사용 최대 분야: 화력 3196(억kWh)
2011년 전력량 사용 최대 분야: 화력 3343(억kWh)
2012년 전력량 사용 최대 분야: 화력 3430(억kWh)
2013년 전력량 사용 최대 분야: 화력 3581(억kWh)
2014년 전력량 사용 최대 분야: 화력 3427(억kWh)
2015년 전력량 사용 최대 분야: 화력 3402(억kWh)
2016년 전력량 사용 최대 분야: 화력 3523(억kWh)

In [ ]:
def test_min(nation):
    for year in electDF3.columns[1:]:
        m = nation[year].min(skipna=True)
        i = nation[year][nation[year]==m].index[0]
        print(year+"년 전력량 사용 최소 분야:"
              +electDF3['발전 전력별 전력량(억kWh)'][i]
              +" "+str(m)+"(억kWh)")
print('남한 년도별 전력량 사용 최소 분야 및 사용량')
test_min(남한)

남한 년도별 전력량 사용 최소 분야 및 사용량
1990년 전력량 사용 최소 분야: 수력 64(억kWh)
1991년 전력량 사용 최소 분야: 수력 51(억kWh)
1992년 전력량 사용 최소 분야: 수력 49(억kWh)
1993년 전력량 사용 최소 분야: 수력 60(억kWh)
1994년 전력량 사용 최소 분야: 수력 41(억kWh)
1995년 전력량 사용 최소 분야: 수력 55(억kWh)
1996년 전력량 사용 최소 분야: 수력 52(억kWh)
1997년 전력량 사용 최소 분야: 수력 54(억kWh)
1998년 전력량 사용 최소 분야: 수력 61(억kWh)
1999년 전력량 사용 최소 분야: 수력 61(억kWh)
2000년 전력량 사용 최소 분야: 수력 56(억kWh)
2001년 전력량 사용 최소 분야: 수력 42(억kWh)
2002년 전력량 사용 최소 분야: 수력 53(억kWh)
2003년 전력량 사용 최소 분야: 수력 69(억kWh)
2004년 전력량 사용 최소 분야: 수력 59(억kWh)
2005년 전력량 사용 최소 분야: 수력 52(억kWh)
2006년 전력량 사용 최소 분야: 수력 52(억kWh)
2007년 전력량 사용 최소 분야: 수력 50(억kWh)
2008년 전력량 사용 최소 분야: 수력 56(억kWh)
2009년 전력량 사용 최소 분야: 수력 56(억kWh)
2010년 전력량 사용 최소 분야: 수력 65(억kWh)
2011년 전력량 사용 최소 분야: 수력 78(억kWh)
2012년 전력량 사용 최소 분야: 수력 77(억kWh)
2013년 전력량 사용 최소 분야: 수력 84(억kWh)
2014년 전력량 사용 최소 분야: 수력 78(억kWh)
2015년 전력량 사용 최소 분야: 수력 58(억kWh)
2016년 전력량 사용 최소 분야: 수력 66(억kWh)

In [ ]:
print('북한 년도별 전력량 사용 최대 분야 및 사용량')
test_max(북한)

북한 년도별 전력량 사용 최대 분야 및 사용량
1990년 전력량 사용 최대 분야: 수력 156(억kWh)
1991년 전력량 사용 최대 분야: 수력 150(억kWh)
1992년 전력량 사용 최대 분야: 수력 142(억kWh)
1993년 전력량 사용 최대 분야: 수력 133(억kWh)
1994년 전력량 사용 최대 분야: 수력 138(억kWh)
1995년 전력량 사용 최대 분야: 수력 142(억kWh)
1996년 전력량 사용 최대 분야: 수력 125(억kWh)
1997년 전력량 사용 최대 분야: 수력 107(억kWh)
1998년 전력량 사용 최대 분야: 수력 102(억kWh)
1999년 전력량 사용 최대 분야: 수력 103(억kWh)
2000년 전력량 사용 최대 분야: 수력 102(억kWh)
2001년 전력량 사용 최대 분야: 수력 106(억kWh)
2002년 전력량 사용 최대 분야: 수력 106(억kWh)
2003년 전력량 사용 최대 분야: 수력 117(억kWh)
2004년 전력량 사용 최대 분야: 수력 125(억kWh)
2005년 전력량 사용 최대 분야: 수력 131(억kWh)
2006년 전력량 사용 최대 분야: 수력 126(억kWh)
2007년 전력량 사용 최대 분야: 수력 133(억kWh)
2008년 전력량 사용 최대 분야: 수력 141(억kWh)
2009년 전력량 사용 최대 분야: 수력 125(억kWh)
2010년 전력량 사용 최대 분야: 수력 134(억kWh)
2011년 전력량 사용 최대 분야: 수력 132(억kWh)
2012년 전력량 사용 최대 분야: 수력 135(억kWh)
2013년 전력량 사용 최대 분야: 수력 139(억kWh)
2014년 전력량 사용 최대 분야: 수력 130(억kWh)
2015년 전력량 사용 최대 분야: 수력 100(억kWh)
2016년 전력량 사용 최대 분야: 수력 128(억kWh)

In [ ]:
print('북한 년도별 전력량 사용 최소 분야 및 사용량')
test_min(북한)

북한 년도별 전력량 사용 최소 분야 및 사용량
1990년 전력량 사용 최소 분야: 화력 121(억kWh)
1991년 전력량 사용 최소 분야: 화력 113(억kWh)
1992년 전력량 사용 최소 분야: 화력 105(억kWh)
1993년 전력량 사용 최소 분야: 화력 88(억kWh)
1994년 전력량 사용 최소 분야: 화력 93(억kWh)
1995년 전력량 사용 최소 분야: 화력 88(억kWh)
1996년 전력량 사용 최소 분야: 화력 88(억kWh)
1997년 전력량 사용 최소 분야: 화력 86(억kWh)
1998년 전력량 사용 최소 분야: 화력 68(억kWh)
1999년 전력량 사용 최소 분야: 화력 83(억kWh)
2000년 전력량 사용 최소 분야: 화력 92(억kWh)
2001년 전력량 사용 최소 분야: 화력 96(억kWh)
2002년 전력량 사용 최소 분야: 화력 84(억kWh)
2003년 전력량 사용 최소 분야: 화력 79(억kWh)
2004년 전력량 사용 최소 분야: 화력 81(억kWh)
2005년 전력량 사용 최소 분야: 화력 84(억kWh)
2006년 전력량 사용 최소 분야: 화력 99(억kWh)
2007년 전력량 사용 최소 분야: 화력 103(억kWh)
2008년 전력량 사용 최소 분야: 화력 114(억kWh)
2009년 전력량 사용 최소 분야: 화력 110(억kWh)
2010년 전력량 사용 최소 분야: 화력 103(억kWh)
2011년 전력량 사용 최소 분야: 화력 79(억kWh)
2012년 전력량 사용 최소 분야: 화력 80(억kWh)
2013년 전력량 사용 최소 분야: 화력 82(억kWh)
2014년 전력량 사용 최소 분야: 화력 86(억kWh)
2015년 전력량 사용 최소 분야: 화력 90(억kWh)
2016년 전력량 사용 최소 분야: 화력 111(억kWh)

### 1-3-4. 국가, 전력별 전력량 최대, 최소 년도

남한과 북한의 전력별 전력량이 가장 많았던 년도와 가장 적었던 년도

In [ ]:
year_data2 = electDF3[~electDF3.isin(['-'])]
field = list(electDF3['발전 전력별 전력량(억kWh)'][:4])

In [ ]:
def test_max2(nation):
    n = 0
    for row in nation.index:
        m = year_data.loc[row].max(skipna=True)
        i = year_data.loc[row][year_data.loc[row]==m].index[0]
        print(field[n]+' 발전 전력 사용 최대 년도: '+str(i)+'년, '
              +'사용량: '+str(m)+'(억kWh)')
        n += 1
print('남한 전력별 사용량 최대 년도 및 사용량')
test_max2(남한)

남한 전력별 사용량 최대 년도 및 사용량
 수력 발전 전력 사용 최대 년도: 2013년, 사용량: 84(억kWh)
 화력 발전 전력 사용 최대 년도: 2013년, 사용량: 3581(억kWh)
 원자력 발전 전력 사용 최대 년도: 2015년, 사용량: 1648(억kWh)
 신재생 발전 전력 사용 최대 년도: 2016년, 사용량: 195(억kWh)

In [ ]:
def test_min2(nation):
    n = 0
    for row in nation.index:
        m = year_data.loc[row].min(skipna=True)
        i = year_data.loc[row][year_data.loc[row]==m].index[0]
        print(field[n]+' 발전 전력 사용 최소 년도: '+str(i)+'년, '
              +'사용량: '+str(m)+'(억kWh)')
        n += 1
print('남한 전력별 사용량 최소 년도 및 사용량')
test_min2(남한)

남한 전력별 사용량 최소 년도 및 사용량
 수력 발전 전력 사용 최소 년도: 1994년, 사용량: 41(억kWh)
 화력 발전 전력 사용 최소 년도: 1990년, 사용량: 484(억kWh)
 원자력 발전 전력 사용 최소 년도: 1990년, 사용량: 529(억kWh)
 신재생 발전 전력 사용 최소 년도: 2012년, 사용량: 86(억kWh)

In [ ]:
print('북한 전력별 사용량 최대 년도 및 사용량')
test_max2(북한)

북한 전력별 사용량 최대 년도 및 사용량
 수력 발전 전력 사용 최대 년도: 1990년, 사용량: 156(억kWh)
 화력 발전 전력 사용 최대 년도: 1990년, 사용량: 121(억kWh)

In [ ]:
print('북한 전력별 사용량 최소 년도 및 사용량')
test_min2(북한)

북한 전력별 사용량 최소 년도 및 사용량
 수력 발전 전력 사용 최소 년도: 2015년, 사용량: 100(억kWh)
 화력 발전 전력 사용 최소 년도: 1998년, 사용량: 68(억kWh)