# [실습]   
- CSV 파일 읽고 컬럼별 최고값과 최고값의 개수 출력

In [5]:
import pandas as pd
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH+'iris2.csv'
FILE_NAME

'../Data/iris2.csv'

In [27]:
iris2DF=pd.read_csv(FILE_NAME, header=None)

In [25]:
iris2DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [26]:
iris2DF.head(5)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  NaN  3.6  1.4  0.2  Iris-setosa

In [43]:
iris2DF.tail(5)

       0    1    2    3               4
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [30]:
a=iris2DF.describe()
a

                0           1           2           3
count  147.000000  150.000000  150.000000  150.000000
mean     5.862585    3.054000    3.758667    1.198667
std      0.825220    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [39]:
a.loc[['max']]

       0    1    2    3
max  7.9  4.4  6.9  2.5

In [62]:
for i in range(4):
    print(iris2DF[i].value_counts().max())

9
26
14
28