## [실습] -------------------------------------------------------------------------------------

- CSV 파일 읽고 컬럼별 최고값과 값의 개수 출력

In [183]:
# 모듈 로딩 ------------------------------------------------------------------------------------ 
import pandas as pd

# 파일 읽기 ------------------------------------------------------------------------------------ 
DIR_PATH = '../data/'
FILENAME = DIR_PATH + 'iris2.csv'
irisDF = pd.read_csv(FILENAME, header=None)

In [185]:
irisDF.columns = [['data1','data2','data3','data4','data5']]
irisDF.head()

  data1 data2 data3 data4        data5
0   5.1   3.5   1.4   0.2  Iris-setosa
1   4.9   3.0   1.4   0.2  Iris-setosa
2   4.7   3.2   1.3   0.2  Iris-setosa
3   NaN   3.1   1.5   0.2  Iris-setosa
4   5.0   3.6   1.4   0.2  Iris-setosa

In [186]:
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   (data1,)  147 non-null    float64
 1   (data2,)  150 non-null    float64
 2   (data3,)  150 non-null    float64
 3   (data4,)  150 non-null    float64
 4   (data5,)  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [187]:
irismax = irisDF.describe().loc['max']
pd.DataFrame(irismax)

       max
data1  7.9
data2  4.4
data3  6.9
data4  2.5

In [188]:
pd.DataFrame(irismax.value_counts())

     max
7.9    1
4.4    1
6.9    1
2.5    1