# [실습]-----------------------------------------------------------------------------------------------------

- CSV 파일 읽고 칼럼별 최고값과 값의 개수 출력

In [14]:
# 모듈 로딩
import pandas as pd

# 파일 관련 변수들
DIR_PATH='../DATA/'
FILE_NAME = DIR_PATH+'iris2.csv'

FILE_NAME

'../DATA/iris2.csv'

In [15]:
# (1) CSV => DataFrame으로 가져오기
irisDF = pd.read_csv(FILE_NAME, header=None)
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [26]:
irisDF

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [25]:
irisDF.max()

0               7.9
1               4.4
2               6.9
3               2.5
4    Iris-virginica
dtype: object

In [28]:
irisDF.value_counts()

0    1    2    3    4
4.9  3.1  1.5  0.1  Iris-setosa        3
5.8  2.7  5.1  1.9  Iris-virginica     2
4.3  3.0  1.1  0.1  Iris-setosa        1
6.3  2.9  5.6  1.8  Iris-virginica     1
6.2  3.4  5.4  2.3  Iris-virginica     1
                                      ..
5.4  3.0  4.5  1.5  Iris-versicolor    1
5.3  3.7  1.5  0.2  Iris-setosa        1
5.2  4.1  1.5  0.1  Iris-setosa        1
     3.5  1.5  0.2  Iris-setosa        1
7.9  3.8  6.4  2.0  Iris-virginica     1
Length: 144, dtype: int64

In [29]:
irisDF.count()

0    147
1    150
2    150
3    150
4    150
dtype: int64