# [실습] 

## CSV 파일 읽고 컬럼별 최고값과 값의 갯수 출력

In [79]:
# 모듈 로딩
import pandas as pd

# 파일 관련 변수 선언
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH+'iris2.csv'

In [80]:
# 데이터 로딩
#  File --> Dataframe 으로 로딩하기

iris2DF=pd.read_csv(FILE_NAME,header=None)

In [81]:
iris2DF

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [82]:
iris2DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [83]:
iris2DF.columns=['SepalLength','SepalWidth','PetalLength','PetalWidth','Name']
iris2DF

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [84]:
for i in iris2DF.columns[:-1]:             # 마지막 Names 컬럼에 해당하는 부분 제외하기  
    print(f'{i} => MAX : {iris2DF[i].max()}  /  MIN : {iris2DF[i].min()}')
    print(f'값의 갯수 : {iris2DF[i].value_counts()}')

SepalLength => MAX : 7.9  /  MIN : 4.3
값의 갯수 : 5.1    9
6.3    9
5.0    8
5.7    8
6.7    8
5.8    7
5.5    7
6.4    7
4.9    6
5.4    6
6.1    6
6.0    6
5.6    6
4.8    5
6.5    5
6.2    4
7.7    4
6.9    4
4.6    4
5.9    3
5.2    3
4.4    3
7.2    3
6.8    3
6.6    2
4.7    2
7.6    1
7.4    1
7.3    1
7.0    1
7.1    1
5.3    1
4.3    1
4.5    1
7.9    1
Name: SepalLength, dtype: int64
SepalWidth => MAX : 4.4  /  MIN : 2.0
값의 갯수 : 3.0    26
2.8    14
3.2    13
3.1    12
3.4    12
2.9    10
2.7     9
2.5     8
3.5     6
3.3     6
3.8     6
2.6     5
2.3     4
3.7     3
2.4     3
2.2     3
3.6     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: SepalWidth, dtype: int64
PetalLength => MAX : 6.9  /  MIN : 1.0
값의 갯수 : 1.5    14
1.4    12
5.1     8
4.5     8
1.6     7
1.3     7
5.6     6
4.7     5
4.9     5
4.0     5
4.2     4
5.0     4
4.4     4
4.8     4
1.7     4
3.9     3
4.6     3
5.7     3
4.1     3
5.5     3
6.1     3
5.8     3
3.3     2
5.4     2
6.7     2
5.3     2
5.9     2
6.0     2
1.2     2
4.3     2
1.9     2
3.5     2
5.2     2
3.0     1
1.1     1
3.7     1
3.8     1
6.6     1
6.3     1
1.0     1
6.9     1
3.6     1
6.4     1
Name: PetalLength, dtype: int64
PetalWidth => MAX : 2.5  /  MIN : 0.1
값의 갯수 : 0.2    28
1.3    13
1.8    12
1.5    12
1.4     8
2.3     8
1.0     7
0.4     7
0.3     7
0.1     6
2.1     6
2.0     6
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: PetalWidth, dtype: int64

In [85]:
for i in iris2DF.columns[:-1]:
    print(iris2DF[i].describe().loc[['min','max']])

min    4.3
max    7.9
Name: SepalLength, dtype: float64
min    2.0
max    4.4
Name: SepalWidth, dtype: float64
min    1.0
max    6.9
Name: PetalLength, dtype: float64
min    0.1
max    2.5
Name: PetalWidth, dtype: float64