# Pandas's Data Type
- series : 1차원 배열의 데이터, 주로 세로 벡터(ex. 이름만, 학과만)
- dataframe : 2차원 배열의 데이터(ex. 이름과 학과)
- dType : pandas안의 데이터 타입을 dType이라고 함

In [9]:
import pandas as pd    # pandas 모듈 삽입

data = [1, 2, 3, 4, 5, 6]
sr = pd.Series(data)    # series 객체 생성
sr    # 생성된 series 객체 데이터 확인해 보기

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [13]:
sr.index    # series 객체의 속성 또는 변수 확인 => 객체변수명.속성명

RangeIndex(start=0, stop=6, step=1)

In [17]:
sr.values    # series의 value를 표시하는 함수

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [18]:
sr.ndim    # dimension(차원)표시 함수

1

In [21]:
sr.shape    # series의 형태를 표시하는 함수

(6,)

In [22]:
sr.nbytes    # 실제 사용 메모리 byte, 데이터 갯수

48

In [25]:
sr2 = pd.Series([1, 'A', 9.23])    # 여러 타입의 데이터로 series 객체 생성
sr2

0       1
1       A
2    9.23
dtype: object

In [31]:
# series 객체 속성 읽기
print(sr2.index)
print(sr2.values)
print(sr2.array)
print(sr2.shape)
print(sr2.nbytes)
print(type(sr2))
print(type(sr2.values))

RangeIndex(start=0, stop=3, step=1)
--------------
[1 'A' 9.23]
<PandasArray>
[1, 'A', 9.23]
Length: 3, dtype: object
(3,)
24
<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>

In [33]:
# dictionary data로 series 생성
sr3 = pd.Series({'name':'재원', 'age':27, 'number':'01071215819'})
sr3

name               재원
age                27
number    01071215819
dtype: object

In [34]:
# series 객체 생성
sr4 = pd.Series(['a', 'b', 'c'], index = ['하나', '둘', '셋'])
sr4

하나    a
둘     b
셋     c
dtype: object

In [35]:
sr5 = pd.Series(['a', 'b', 'c'])
sr5

0    a
1    b
2    c
dtype: object

In [40]:
# index를 새로운 값으로 설정 : 객체변수명.속성명 = 새로운값
sr5.index = ['하나', '둘', '셋']
sr5

하나    a
둘     b
셋     c
dtype: object

# Series 객체의 요소 다루기
- 방법
    - 시리즈 객체[인덱스 번호]
    - 시리즈 객체[인덱스 라벨]

In [48]:
sr5[0], sr5['하나']    # 두 값이 같다.

('a', 'a')

In [49]:
sr3[2], sr3['number']    # 딕셔너리 타입도 역시 같은 방식임.

('01071215819', '01071215819')