In [221]:
import pandas as pd
import numpy as np
# import datetime

In [222]:
DIR = './Data/'
FILE = DIR + 'ta_20220714101207.csv'
df = pd.read_csv(FILE, encoding='CP949', skiprows=7)

import pandas as pd
weather_df = pd.read_csv('./Data/' + 'daegu.csv', encoding='euc_kr')
print(weather_df.columns)
print(weather_df['날짜'].dtype) # '날짜’컬럼은 object 타입

Index(['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)'], dtype='object')
object

In [223]:
# 경로 확인
%pwd

'C:\\Users\\User\\PycharmProjects\\pythonProject\\Jupyter\\0714Thur'

In [224]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 40A2-40BF

 C:\Users\User\PycharmProjects\pythonProject\Jupyter\0714Thur 디렉터리

2022-07-14  오후 03:02    <DIR>          .
2022-07-14  오후 03:02    <DIR>          ..
2022-07-14  오후 02:07    <DIR>          .ipynb_checkpoints
2022-07-14  오전 10:56               404 0714_01.py
2022-07-14  오후 03:02             7,735 0714_01_pd_tem.ipynb
2022-07-14  오후 02:10         2,494,165 0714_01csv_module_tem.ipynb
2022-07-14  오후 02:33         1,252,012 daegu_utf-8
2022-07-14  오후 02:54    <DIR>          Data
               4개 파일           3,754,316 바이트
               4개 디렉터리  125,186,338,816 바이트 남음

In [225]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42126 entries, 0 to 42125
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       42126 non-null  object
 1   지점       42126 non-null  int64
 2   평균기온(℃)  41423 non-null  float64
 3   최저기온(℃)  41497 non-null  float64
 4   최고기온(℃)  41496 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.6+ MB

In [226]:
weather_df.head()

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1907-01-31  143      NaN     -7.0      0.8
1  1907-02-01  143      NaN      NaN      NaN
2  1907-02-02  143      NaN      NaN      NaN
3  1907-02-03  143      NaN      NaN      NaN
4  1907-02-04  143      NaN      NaN      NaN

In [227]:
# 특수 문자 제거
weather_df.rename(columns={'평균기온(℃)' : '평균기온', 
                           '최저기온(℃)' : '최저기온', 
                           '최고기온(℃)' : '최고기온'}, inplace=True)

In [228]:
# '날짜’ 컬럼의 데이터 타입을 datetime 타입으로 변경
# to_datetime(df[‘컬럼명’], format=‘%Y-%m-%d)

weather_df['날짜'] = pd.to_datetime(weather_df['날짜'], format='%Y-%m-%d')
print(weather_df['날짜'].dtype)

datetime64[ns]

In [229]:
num_rows = weather_df.shape[0] # shape(row, col), shape[0]: row의 개수
num_missing = num_rows - weather_df.count() # count(): 정상값의 개수
print(num_missing)

날짜        0
지점        0
평균기온    703
최저기온    629
최고기온    630
dtype: int64

In [230]:
# 누락값(NaN) 처리
# • dropna(axis): 누락값 제거
# – axis=0: Nan이 포함된 행 제거, axis=1: Nan이 포함된 열 제거
# • fillna(0): 누락값을 0으로 변경
# • fillna(method=‘ffill’): 이전 값으로 변경(forward fill)
# • fillna(method=‘bfill’): 이후 값으로 변경(backward fill)
# • interpolate(): 누락값 양쪽의 값으로 중간값 계산
weather_df = weather_df.dropna(axis=0)
print(weather_df.count())
print(weather_df.head(5))

# axis=0 행 기준
# 기본값 any => na가 있으면 그 행 통째로 삭제

날짜      41421
지점      41421
평균기온    41421
최저기온    41421
최고기온    41421
dtype: int64
            날짜   지점  평균기온  최저기온  최고기온
701 1909-01-01  143  -4.1  -8.0   0.1
702 1909-01-02  143  -0.8  -6.7   6.1
703 1909-01-03  143   1.0  -2.4   3.6
704 1909-01-04  143   4.2   0.0   9.2
705 1909-01-05  143   3.4  -0.4   9.0

In [240]:
# 누락값을 제거한 최종 데이터를 csv파일로 저장
# • index = False: 인덱스 항목 저장 안함
# • encoding=‘utf-8’ (euc_kr이 아닌 utf-8로 저장)
weather_df.to_csv('./Data/' + 'myDaegu_utf-8.csv', index=False, mode='w', encoding='utf-8')


pd.read_csv('./Data/' + 'myDaegu_utf-8.csv')

               날짜   지점  평균기온  최저기온  최고기온
0      1909-01-01  143  -4.1  -8.0   0.1
1      1909-01-02  143  -0.8  -6.7   6.1
2      1909-01-03  143   1.0  -2.4   3.6
3      1909-01-04  143   4.2   0.0   9.2
4      1909-01-05  143   3.4  -0.4   9.0
...           ...  ...   ...   ...   ...
41416  2022-05-28  143  24.9  15.2  33.0
41417  2022-05-29  143  24.9  16.2  33.0
41418  2022-05-30  143  24.3  20.5  29.6
41419  2022-05-31  143  24.7  18.6  31.1
41420  2022-06-01  143  24.7  18.7  33.1

[41421 rows x 5 columns]

In [235]:
# 특정 연도와 달의 최고,최저 기온 평균값 계산
# • 해당 연도와 달의 DataFrame 가져오기
# • datetime 객체 접근
# – dt.year, dt.month, dt.day

year_df = weather_df[weather_df['날짜'].dt.year == 2021]
month_df = year_df[year_df['날짜'].dt.month == 7]
print(month_df.head())

# 연도와 달의 데이터 검색 => 추출 => 데이터 크기 축소 => 메모리 사용 줄임.

              날짜   지점  평균기온  최저기온  최고기온
41790 2021-07-01  143  25.1  19.6  32.4
41791 2021-07-02  143  24.0  20.3  28.8
41792 2021-07-03  143  22.7  21.4  24.8
41793 2021-07-04  143  27.8  21.8  32.4
41794 2021-07-05  143  23.8  20.6  27.2

In [233]:
# 특정 연도와 달의 최저 기온 및 최고 기온의 평균 계산
max_temp_mean = round(month_df['최고기온'].mean(), 1)
min_temp_mean = round(month_df['최저기온'].mean(), 1)
print('2021년 7월 최저기온 평균:{}, 최고기온 평균 :{}'.format(min_temp_mean, max_temp_mean))

2021년 7월 최저기온 평균:22.9, 최고기온 평균 :32.1