# 통계 관련 메서드 실습
- 데이터에 대한 평균,표준편차, 중앙(간)값, 최빈값, 상관계수 관련 메서드 활용
- 데이터와 데이터의 관계, 데이터의 분포 등을 파악

In [4]:
# 모듈 로딩
import pandas as pd

# 파일 관련 변수 선언
DIR_PATH = r'../Data/'
FILE_NAME = DIR_PATH + 'iris.csv'

In [6]:
# cvs => dataframe으로 로딩
irisDF = pd.read_csv(FILE_NAME)
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
# DF객체에 대한 통계 관련 메서드 적용
irisDF.mean()

C:\Users\kry11\AppData\Local\Temp\ipykernel_9708\2441055979.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.mean()

SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64

In [8]:
irisDF.std()

C:\Users\kry11\AppData\Local\Temp\ipykernel_9708\3571167801.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.std()

SepalLength    0.828066
SepalWidth     0.433594
PetalLength    1.764420
PetalWidth     0.763161
dtype: float64

In [10]:
irisDF.median()

C:\Users\kry11\AppData\Local\Temp\ipykernel_9708\1330024277.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.median()

SepalLength    5.80
SepalWidth     3.00
PetalLength    4.35
PetalWidth     1.30
dtype: float64

In [11]:
irisDF.corr()

             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     1.000000   -0.109369     0.871754    0.817954
SepalWidth     -0.109369    1.000000    -0.420516   -0.356544
PetalLength     0.871754   -0.420516     1.000000    0.962757
PetalWidth      0.817954   -0.356544     0.962757    1.000000

In [38]:
# 컬럼별 평균, 표준편차, 상관계수 출력하기

irisDF_data = pd.DataFrame({'SepalLength':[irisDF['SepalLength'].mean(),
                                          irisDF['SepalLength'].std(),
                                          irisDF['SepalLength'].median(),
                                          irisDF['SepalLength'].corr(irisDF['SepalWidth'])],
                           'SepalWidth':[irisDF['SepalWidth'].mean(),
                                          irisDF['SepalWidth'].std(),
                                          irisDF['SepalWidth'].median(),
                                        irisDF['SepalWidth'].corr(irisDF['SepalLength'])]})
irisDF_data.index = ['mean','std','median','corr']
irisDF_data

        SepalLength  SepalWidth
mean       5.843333    3.054000
std        0.828066    0.433594
median     5.800000    3.000000
corr      -0.109369   -0.109369

In [56]:
for col in irisDF.columns[:4]:
    print(f'========={col}=========')
    print(f'평    균 : {irisDF[col].mean():0.2f}')
    print(f'표준편차 : {irisDF[col].std():0.2f}')
    print(f'최 빈 값 : {irisDF[col].mode()[0]}')
    print(f'상관계수')
    for icol in irisDF.columns[:4]:
        if icol != col:
            print(f'vs {icol} : {irisDF[col].corr(irisDF[icol]):0.2f}')
        else:
            pass

=========SepalLength=========
평    균 : 5.84
표준편차 : 0.83
최 빈 값 : 5.0
상관계수
vs SepalWidth : -0.11
vs PetalLength : 0.87
vs PetalWidth : 0.82
=========SepalWidth=========
평    균 : 3.05
표준편차 : 0.43
최 빈 값 : 3.0
상관계수
vs SepalLength : -0.11
vs PetalLength : -0.42
vs PetalWidth : -0.36
=========PetalLength=========
평    균 : 3.76
표준편차 : 1.76
최 빈 값 : 1.5
상관계수
vs SepalLength : 0.87
vs SepalWidth : -0.42
vs PetalWidth : 0.96
=========PetalWidth=========
평    균 : 1.20
표준편차 : 0.76
최 빈 값 : 0.2
상관계수
vs SepalLength : 0.82
vs SepalWidth : -0.36
vs PetalLength : 0.96