# Data Frame 실습
- Series 객체가 2개 이상 합쳐진  pandas의 data type
- 구성 : 행(row) 인덱스 + 열(column) 라벨

In [5]:
import pandas as pd

datas = [[1, 2, 3], ['A', 'B', 'C']]
df = pd.DataFrame(datas)
df

   0  1  2
0  1  2  3
1  A  B  C

In [9]:
# dataframe의 속성 읽기
print(df.index)
print(f'===================================')
print(df.columns)
print(f'===================================')
print(df.values)
print(f'===================================')
print(df.size)
print(f'===================================')
print(df.ndim)

RangeIndex(start=0, stop=2, step=1)
===================================
RangeIndex(start=0, stop=3, step=1)
===================================
[[1 2 3]
 ['A' 'B' 'C']]
===================================
6
===================================
2

In [11]:
df.info()    # info 클래스 사용해서 정보 읽기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
 2   2       2 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes

In [22]:
# dic 데이터로 dataframe 객체 생성하기
df2 = pd.DataFrame({'Name':['Lim', 'Kim'], 'Age':[27, 28], 'Loc':['Daegu', 'Seoul'], 'Gen':['Male', 'Female']})
df2

  Name  Age    Loc     Gen
0  Lim   27  Daegu    Male
1  Kim   28  Seoul  Female

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
 2   Loc     2 non-null      object
 3   Gen     2 non-null      object
dtypes: int64(1), object(3)
memory usage: 192.0+ bytes

In [30]:
# dataframe 객체에서 Seoul data 추출
print(df2['Loc'][1])

Seoul