# 중복 데이터(레코드, 엔트리, 관측값, 행) 처리
- 중복 여부 체크 : duplicated()
    - 파라미터 : keep, subset
- 중복 제거 : drop_duplicates()

In [6]:
# 모듈 로딩
import pandas as pd

df = pd.DataFrame([[1,2,3],[1,2,1],[1,2,3]],
                 columns=['a','b','c'])
df

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

In [7]:
# 중복 데이터(row, 행) 체크(앞의 행과 비교) => duplicated() => 기본값 keep='first'
df.duplicated()

0    False
1    False
2     True
dtype: bool

In [8]:
df.duplicated(keep='last')    # 마지막 행과 비교

0     True
1    False
2    False
dtype: bool

In [9]:
df.duplicated(keep=False)    # 전부 비교

0     True
1    False
2     True
dtype: bool

In [10]:
# 특정 column의 동일 여부 설정 => subset=['컬럼명']
df.duplicated(subset=['b'])

0    False
1     True
2     True
dtype: bool

In [13]:
# 중복 제거하기 => drop_duplicates(subset, keep)
print(df)
df.drop_duplicates()

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

   a  b  c
0  1  2  3
1  1  2  1

In [18]:
print(df)
df.drop_duplicates(subset=['b'])

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

   a  b  c
0  1  2  3