In [159]:
# 모듈 로딩
import numpy as np
import pandas as pd
from datetime import datetime

In [160]:
# 파일 관련 변수들
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH + "auto_mpg.csv"

In [161]:
# 파일 읽어오기
mpgDF=pd.read_csv(FILE_NAME)

In [162]:
mpgDF.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite

## outo_mpg 전처리
- 1. 단위 변환 -> 컬럼 추가
- 2. 자료형 검사 및 변환
- 3. origin 컬럼에 대한 라벨 -> 컬럼 추가

## 데이터 확인

In [163]:
# 파일 확인
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [164]:
# 결측치 확인
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [165]:
mpgDF.duplicated().sum()

0

## horespower type 변환

In [166]:
# pd.DataFrame( mpgDF.groupby(['origin']).value_counts('car name') )

In [167]:
# horsepower ==> object에서 float로 형변환

# try:
    mpgDF['horsepower']=mpgDF['horsepower'].astype('float')
# except:
#     user=input('오류를 보고 싶으면 2를 누르시오')
#     if user=='2':
#         raise

# ValueError: could not convert string to float: '?' ==> '?' string 때문에 오류 발생

IndentationError: unexpected indent (2228857534.py, line 4)

In [168]:
# mpgDF[mpgDF['horsepower']=='?']
mpgDF.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [175]:
# mpgDF = mpgDF.replace( {'horsepower': {'?':np.nan} } )
mpgDF = mpgDF.replace( {'horsepower': {'?':0} } )

In [176]:
mpgDF.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', nan, '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [ ]:
# mpg = mpg.dropna(axis=0, how='all',subset='horsepower').reset_index(drop=True)
# mpg.info()

## 데이터 표준화

In [178]:
# horsepower 컬럼 float로 타입 변환
mpgDF.horsepower = mpgDF.horsepower.astype(float)

In [183]:
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 398 entries, 7.6499999999999995 to 13.174999999999999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 31.1+ KB

## km/L = MPG*0.425

In [171]:
mpgDF['km/L']=mpgDF['mpg']*0.425
mpgDF

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,km/L
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,7.650
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,6.375
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,7.650
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.800
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,7.225
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,11.475
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.700
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,13.600
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,11.900
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.175

In [172]:
try:
    mpgDF.set_index('km/L', inplace=True)

except Exception:
    pass

In [173]:
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 398 entries, 7.6499999999999995 to 13.174999999999999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 31.1+ KB

In [174]:
# 오리진 1-미국USA, 2-유럽EUR, 3-일본JP

In [ ]:
# origin 컬럼을 지역으로 바꾸고 컬럼 추가

# mpg['origin'].unique()

# oriList = []
# for i in range(1,4):
#     oriList.append(mpg[mpg.origin == i])

# for i in oriList:
#     print(i.head(2), '\n')

In [186]:
mpgDF['region']=mpgDF['origin'].replace( {1:'USA', 2:'EUR', 3:'JP'} )

# 데이터 정규화

# 데이터 추출