## 중복 데이터(레코드, 엔트리 관측값, 행)처리

- 중복 여부 체크 : duplicated()
                    - keep
                    - subset
                    
- 중복 제거 : drop_duplicates()

In [87]:
import pandas as pd
df=pd.DataFrame( [ [1,2,3,],[1,2,1],[1,2,3]], columns=['a','b','c'] )
df

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

In [88]:
# 중복 데이터(행 row)체크 => duplitcated()
df.duplicated()

0    False
1    False
2     True
dtype: bool

In [89]:
df.duplicated(keep='last') # 기본 값 keep=>'first'

0     True
1    False
2    False
dtype: bool

In [90]:
df.duplicated(keep=False) # 이렇게 하면 중복지우면서 다 지워짐.

0     True
1    False
2     True
dtype: bool

In [91]:
# 특정 컬럼의 동일여부 설정 => subset=[컬럼명]
df.duplicated(subset='b')

0    False
1     True
2     True
dtype: bool

In [92]:
df.duplicated(subset=['b','c'])

0    False
1    False
2     True
dtype: bool

In [93]:
# 중복 제거하기 => drop_duplicates(subset, keep)
print(df)
df.drop_duplicates()

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

   a  b  c
0  1  2  3
1  1  2  1

In [94]:
df.drop_duplicates(subset=['b'])

   a  b  c
0  1  2  3