# DF객체 연결하기
    - df.concat(data, join= ,axis=, ignore_index= )

In [13]:
import pandas as pd

DIR = '../Data/'
FILE = 'concat_'
FL = [ DIR + FILE + str(i) + '.csv' for i in range(1,4)]
c1 = pd.read_csv(FL[0])
c2 = pd.read_csv(FL[1])
c3 = pd.read_csv(FL[2])

In [14]:
c1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
 2   C       4 non-null      object
 3   D       4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes

In [15]:
# DF객체를 연결하기 => concat([df1, df2])
# 행방향 열값, 기본 합집합
df = pd.concat([c1, c2, c3])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 3
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   A           12 non-null     object
 1   B           12 non-null     object
 2   C           12 non-null     object
 3   D           12 non-null     object
 4   Unnamed: 4  2 non-null      object
dtypes: object(5)
memory usage: 576.0+ bytes

In [16]:
df.head(8)

    A   B   C   D Unnamed: 4
0  a0  b0  c0  d0        NaN
1  a1  b1  c1  d1        NaN
2  a2  b2  c2  d2        NaN
3  a3  b3  c3  d3        NaN
0  a4  b4  c4  d4        NaN
1  a5  b5  c5  d5        NaN
2  a6  b6  c6  d6        NaN
3  a7  b7  c7  d7        NaN

In [17]:
# DF객체를 연결하기 => concat([df1, df2], join=inner)
# 행방향 열값, 기본 합집합
df2 = pd.concat([c1, c2, c3], join='inner')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 480.0+ bytes

In [18]:
df2.index

Int64Index([0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3], dtype='int64')

In [19]:
df2.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
# DF객체를 연결하기 => concat([df1, df2], join=innerm ignore_index=True)
# 행방향 열값, 기본 합집합
df3 = pd.concat([c1, c2, c3], join='inner', ignore_index=True)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes

In [21]:
df3.index, df3.columns

(RangeIndex(start=0, stop=12, step=1),
 Index(['A', 'B', 'C', 'D'], dtype='object'))

In [22]:
# DF객체를 열방향으로 합치기
df4 = pd.concat([c1,c2,c3], axis=1)
df4

    A   B   C   D   A   B   C   D    A    B    C    D Unnamed: 4
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8        NaN
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9        NaN
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10        d11
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11        d12

In [24]:
df = pd.concat([c1, c2, c3], keys=['df1', 'df2', 'df3'])
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12 entries, ('df1', 0) to ('df3', 3)
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   A           12 non-null     object
 1   B           12 non-null     object
 2   C           12 non-null     object
 3   D           12 non-null     object
 4   Unnamed: 4  2 non-null      object
dtypes: object(5)
memory usage: 796.0+ bytes

In [26]:
df.index, df.columns

(MultiIndex([('df1', 0),
             ('df1', 1),
             ('df1', 2),
             ('df1', 3),
             ('df2', 0),
             ('df2', 1),
             ('df2', 2),
             ('df2', 3),
             ('df3', 0),
             ('df3', 1),
             ('df3', 2),
             ('df3', 3)],
            ),
 Index(['A', 'B', 'C', 'D', 'Unnamed: 4'], dtype='object'))

In [27]:
df.head()

        A   B   C   D Unnamed: 4
df1 0  a0  b0  c0  d0        NaN
    1  a1  b1  c1  d1        NaN
    2  a2  b2  c2  d2        NaN
    3  a3  b3  c3  d3        NaN
df2 0  a4  b4  c4  d4        NaN