# 중복 데이터(레코드, 엔트리 관측값, 행) 처리
    - 중복 여부 체크 : duplicated()
                        - keep
                        - subset
    - 중복 제거 : drop_duplicates()

In [16]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [1, 2, 1], [1, 2, 3]], columns=["a", "b", "c"])
df

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

In [17]:
# 중복 데이터(row, 행) 체크 => 기본값 keep = First
df.duplicated()

0    False
1    False
2     True
dtype: bool

In [18]:
df.duplicated(keep='last')

0     True
1    False
2    False
dtype: bool

In [19]:
# 특정 컬럼의 동일 여부 설정 => subset=[컬럼명]
df.duplicated(subset=['b'])

0    False
1     True
2     True
dtype: bool

In [23]:
# 중복 제거 => df.drop_duplicates(subset=, keep=)
df.drop_duplicates(subset=['b'],keep='last')

   a  b  c
2  1  2  3