# 그룹화Group 실습

- DF/SR.groupby() 메서드로 생성

- 그룹 단위로 평균, 최대, 최소 등과 같은 집계 메서드 적용

In [23]:
# 모듈 로딩
import pandas as pd
import numpy as np

In [24]:
# 데이터 생성
# https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups

df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

In [25]:
print(f'df.columns => {df.columns}\n df.index => {df.index}', sep='\n')

df.columns => Index(['class', 'order', 'max_speed'], dtype='object')
 df.index => Index(['falcon', 'parrot', 'lion', 'monkey', 'leopard'], dtype='object')

In [26]:
# 그룹 만들기 ---------> 객체변수명.groupby(컬럼명)
classGroup = df.groupby(by='class')
classGroup

In [27]:
pd.DataFrame(classGroup)

        0                                                  1
0    bird         class           order  max_speed
falcon...
1  mammal            class      order  max_speed
lion    ...

In [28]:
# 반복이 가능한 객체 => for ~ in
for group in classGroup:
    print(group)

('bird',        class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0)
('mammal',           class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0)

In [29]:
## Groupby 객체 속성 살펴보기
# 그룹키 : [요소 인덱스, ...]
classGroup.groups

{'bird': ['falcon', 'parrot'], 'mammal': ['lion', 'monkey', 'leopard']}

In [30]:
# 특정 그룹키에 해당하는 데이터만 추출 => get_gruop(키)
birdGroup = classGroup.get_group('bird')

In [31]:
birdGroup

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [44]:
for key, group in classGroup:
    print(f'KEY --->{key}')
    print(f'Group --->{group}')

KEY --->bird
Group --->       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0
KEY --->mammal
Group --->          class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0

In [45]:
#
birdGroup.agg(ORF: ['min',' 'max', 'sum'])

SyntaxError: invalid syntax (1507286652.py, line 2)

In [55]:
# 사용자 정의 함수
def getMaxMin(x):
    print(f'x --------- {x}\n')
    return x.max()-x.min()

birdGroup.agg({'order':'max', 'max_speed':[getMaxMin]})

x --------- 389.0

x --------- falcon    389.0
parrot     24.0
Name: max_speed, dtype: float64

                    order  max_speed
max        Psittaciformes        NaN
getMaxMin             NaN      365.0

In [39]:
# 그룹 필터링하기 filter(True, False)
birdGroup.filter(items=['order'])

                 order
falcon   Falconiformes
parrot  Psittaciformes

In [41]:
birdGroup.filter(birdGroup['max_speed']>=300)

Empty DataFrame
Columns: []
Index: [falcon, parrot]

In [51]:
birdGroup['max_speed']>=300

falcon     True
parrot    False
Name: max_speed, dtype: bool

In [54]:
# max_speed 컬럼 값이 300 이상인 데이터만 출력
birdGroup[ birdGroup.max_speed>=300 ]

       class          order  max_speed
falcon  bird  Falconiformes      389.0