# DataFrame에서 데이터 추출

- (1)  열(컬럼column 세로벡터) 단위 데이터 추출
    - 방식 : DF객체변수명.[컬러명] 또는 DF객체변수명.컬럼명

- (2)  행(로우row 가로벡터) 단위 데이터 추출
    - 방식 : DF객체변수명.loc[인덱스라벨(문자숫자 다)] 또는 DF객체변수명.iloc[정수인덱스(integer)]

- (3)  원소 단위 데이터 추출
    - 방식 : DF객체변수명.loc[행인덱스라벨, 열인덱스라벨] 또는 .[행인덱스라벨][열인덱스 라벨]
           - DF객체변수명.iloc[행인덱스, 열인덱스] 또는 .[행인덱스][열인덱스]

In [18]:
# 모듈 로딩
import pandas as pd

# DF객체 생성
df=pd.DataFrame([1,2,3],[11,22,33])
# DF객체 요약 정보 출력 메서드
df.info()

TypeError: 'type' object is not subscriptable

In [8]:
# DF객체 구성 확인
df

    0
11  1
22  2
33  3

In [13]:
# 열(컬럼, 세로벡터) 데이터 추출
# DF객체변수명[컬럼명]
oneCol=df[0]

print(f'oneCol => \n{oneCol}', f' oneCol Type => {type(oneCol)}', sep='\n')

oneCol =>
11    1
22    2
33    3
Name: 0, dtype: int64
 oneCol Type => <class 'pandas.core.series.Series'>

In [15]:
twoCol=df[[0,2]]

KeyError: '[2] not in index'

In [76]:
exam_data={ '이름':['서준','우현','인아'],
           '수학':[60,90,50], '국어':[80,20,100], '영어':[30,100,80] }

df=pd.DataFrame(exam_data)
df

   이름  수학   국어   영어
0  서준  60   80   30
1  우현  90   20  100
2  인아  50  100   80

In [79]:
exam_data={ '이름':['서준','우현','인아'],
           '수학':[60,90,50], '국어':[80,20,100], '영어':[30,100,80] }

df=pd.DataFrame(exam_data)
df

   이름  수학   국어   영어
0  서준  60   80   30
1  우현  90   20  100
2  인아  50  100   80

In [94]:
# 딕셔서리를 정의
dict_data = {'c':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12],
'c4':[13,14,15]}
type(dict_data)
df=pd.DataFrame(dict_data)
df

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

## DF에 행과 열 추가하기

- 행 추가 => DF객체변수명.loc[행라벨] = 데이터

- 열 추가 => DF객체변수명[컬럼]=데이터

In [134]:
# DF 데이터 확인
df.loc['혜진']=[100, 100, 50, 50, 50]
df.loc[0]=[80,90,70,60,40]
df
# 누적되나?

ValueError: cannot set a row with mismatched columns

## 행과 열 삭제하기

- 삭제 관련 메서드 => drop()
    - 행 삭제 : DF객체변수명.drop(행, axis=0)     <- axis=0 행 기본값
    - 열 삭제 : DF객체변수명.drop(열, axis=1)     <- axis=1 열 기본값

In [128]:
df.drop('혜진', axis=0)

df.drop('c3', axis=1)
# drop의 특징 : 실제 데이터 삭제하지 않음 => 복사본에서 데이터 삭제하고,
# 복사본을 반환함.

# 실제 데이터를 삭제하고 싶은 경우 => inplace =True

     c0   c1  c2  c4
0    80   90  70  40
1     2    5   8  14
2     3    6   9  15
혜진  100  100  50  50
c0   80   90  70  40
c    80   90  70  40

In [147]:
exam_data={ '이름':['서준','우현','인아'],
           '수학':[60,90,50], '국어':[80,20,100], '영어':[30,100,80] }

df2=pd.DataFrame(exam_data)
df2

   이름  수학   국어   영어
0  서준  60   80   30
1  우현  90   20  100
2  인아  50  100   80

In [148]:
df2.set_index('이름', inplace=True)

In [150]:
df2.drop('우현', axis=0)

    수학   국어  영어
이름
서준  60   80  30
인아  50  100  80

In [151]:
# 객체변수명.drop(행, axis=0, inplace=True)
# 객체변수명.drop(열, axis=0)
# inplace=True

## .transpoes() 행과 열 전환 : 행 => 열, 열 => 행
- 메서드 - DF객체변수명.transpose()
    - 속성 - DF객체변수명.T

In [152]:
df2.T

이름  서준   우현   인아
수학  60   90   50
국어  80   20  100
영어  30  100   80

In [158]:
df2.T

df2.shape

# 원본은 안바꿈

(3, 3)