# [실습] ------------------------------------------------------------------------------

- csv 파일 읽고 컬럼별 최고값과 값의 개수 출력

In [19]:
# 모듈 로딩-----------------------------------------------
import pandas as pd

In [20]:
# 파일 관련 변수
PATH='../Data/' # 경로 설정
FILE_NAME=PATH+'iris2.csv' # 경로와 파일이름을 합쳐서 해당 파일을 위치를 설정

In [24]:
# (1) CSV => 데이터 프레임으로 가져오기
iris2=pd.read_csv(FILE_NAME,header=None)
iris2

# read_csv의 header=은 읽는 파일의 첫줄에 열이름이 있는지없는지를 확인해 주는 옵션으로
# header=0이면 첫줄을 열이름으로 지정하고 None이면 첫 줄을 열이름으로 지정 안함
# names=옵션으로 열이름을 지정할수 있음 => names=['SepalLength','SepalWidth','PetalLength','PetalWidth','Name']

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    NaN  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:
# 첫번째열(0인덱스)의 값의 최대값과 개수 구하기
iris2[0].max() ,iris2[0].count()

# iris2파일의 첫번째 행의 '5'값을 4개 삭제 했으므로
# 값이 공백으로 되었으므로 해당 칸은 파일을 불러오면 NaN이 되서
# 값의 개수는 150-4=146이 나옴

(7.9, 146)

In [13]:
# 두번째열(1인덱스)의 값의 최대값과 개수 구하기
iris2[1].max() ,iris2[1].count()

(4.4, 150)

In [14]:
# 세번째열(2인덱스)의 값의 최대값과 개수 구하기
iris2[2].max() ,iris2[2].count()

(6.9, 150)

In [15]:
# 네번째열(3인덱스)의 값의 최대값과 개수 구하기
iris2[3].max() ,iris2[3].count()

(2.5, 150)

In [27]:
# 다섯번째열(4인덱스)의 값의 최대값과 개수 구하기
iris2[4].count()

# 다섯번째 열은 숫자형이 아니라서 최대값을 구해보았자 의미가 없을 거 겉아 구하지 않음
# iris2[4].max()을 하면 'Iris-virginica'이게 나오기는 함

150

In [29]:
# iris2파일을 열이름을 지정하면서 데이터 프레임으로 만들기
iris2=pd.read_csv(FILE_NAME,header=None,names=['SepalLength','SepalWidth','PetalLength','PetalWidth','Name'])
iris2

# names=옵션을 이용하여 열이름이 지정되는 것을 확인할 수 있음

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            NaN         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [30]:
# 'SepalLength'열의 값의 최대값과 개수 구하기
iris2['SepalLength'].max() ,iris2['SepalLength'].count()

(7.9, 146)

In [31]:
# 'SepalWidth'열의 값의 최대값과 개수 구하기
iris2['SepalWidth'].max() ,iris2['SepalWidth'].count()

(4.4, 150)

In [32]:
# 'PetalLength'열의 값의 최대값과 개수 구하기
iris2['PetalLength'].max() ,iris2['PetalLength'].count()

(6.9, 150)

In [33]:
 # 'PetalWidth'열의 값의 최대값과 개수 구하기
iris2['PetalWidth'].max() ,iris2['PetalWidth'].count()

(2.5, 150)

In [34]:
 # 'Name'열의 값 개수 구하기
iris2['Name'].count()

150