In [110]:
# 모듈 로딩
import pandas as pd

# DF 객체 생성
df = pd.DataFrame( {'year' : [2021, 2022],
                    'month' : [11,12],
                   'day' : [1,24]})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [111]:
df

   year  month  day
0  2021     11    1
1  2022     12   24

In [112]:
df.dtypes

year     int64
month    int64
day      int64
dtype: object

In [113]:
# DateTime을 변환 => pandas.to_datetime()
result = pd.to_datetime(df)

print( type(result), result, sep='\n' )
# 시리즈 타입
print(result)

<class 'pandas.core.series.Series'>
0   2021-11-01
1   2022-12-24
dtype: datetime64[ns]
0   2021-11-01
1   2022-12-24
dtype: datetime64[ns]

In [114]:
# 0번 원소
zero = result[0]

print( type(zero), zero, sep='\n' )
# 타임스탬프 타입

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2021-11-01 00:00:00

In [115]:
# 타입 및 다른 포맷 변환 메서드들... to_변환타입()
result.to_list()

[Timestamp('2021-11-01 00:00:00'), Timestamp('2022-12-24 00:00:00')]

In [116]:
result.to_string()

'0   2021-11-01\n1   2022-12-24'

In [117]:
result.to_csv('result2.csv', index=False)

In [118]:
result.to_json('result.josn')

## CSV 파일 활용 실습
- 날짜 데이터가 있는 csv파일 처리하기

In [119]:
DIR_PATH='../Data/'
FILE_NAME = DIR_PATH + 'survey_visited.csv'
# df = pd.read_csv(FILE_NAME).ffill()
df = pd.read_csv(FILE_NAME)
df

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [120]:
df.head()

   ident  site       dated
0    619  DR-1  1927-02-08
1    622  DR-1  1927-02-10
2    734  DR-3  1939-01-07
3    735  DR-3  1930-01-12
4    751  DR-3  1930-02-26

In [121]:
df.isnull().sum()

ident    0
site     0
dated    1
dtype: int64

In [122]:
# 이전 값으로 치환 => fillna(method='ffill')
df.fillna(method='ffill', inplace=True)

In [123]:
df.isnull().sum()

ident    0
site     0
dated    0
dtype: int64

In [126]:
# 날짜 관련 데이터 => 자료형 변환하기
df['dated']=pd.to_datetime(df['dated'])

In [127]:
df.info()
# 'dated' 타입이 데이트타임64로 바뀜

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ident   8 non-null      int64
 1   site    8 non-null      object
 2   dated   8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 320.0+ bytes

In [129]:
df['dated'][0], df['dated'][1]
# 하나하나 뽑으면 타임스태프 타입임

(Timestamp('1927-02-08 00:00:00'), Timestamp('1927-02-10 00:00:00'))

In [141]:
df['dated'][0].month , df['dated'][1].year

# 타임스태프이므로 year, month, day 등을 추출할 수 있음

(2, 1927)

In [142]:
df['dated'].dtype

dtype('<M8[ns]')

In [143]:
df['dated'].dt.year

0    1927
1    1927
2    1939
3    1930
4    1930
5    1930
6    1932
7    1932
Name: dated, dtype: int64

In [144]:
df['dated'].dt.month

0    2
1    2
2    1
3    1
4    2
5    2
6    1
7    3
Name: dated, dtype: int64

In [147]:
dateSR=df['dated']
dateSR

0   1927-02-08
1   1927-02-10
2   1939-01-07
3   1930-01-12
4   1930-02-26
5   1930-02-26
6   1932-01-14
7   1932-03-22
Name: dated, dtype: datetime64[ns]

In [150]:
dateSR=dateSR[df['dated'].year>=1925]

AttributeError: 'Series' object has no attribute 'year'