In [75]:
# 모듈 로딩
import numpy as np
import pandas as pd

In [76]:
# 파일 관련 변수들
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH + "auto_mpg.csv"

In [77]:
# 파일 읽어오기
mpgDF=pd.read_csv(FILE_NAME)

In [78]:
mpgDF.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite

## outo_mpg 전처리
- 1. 단위 변환 -> 컬럼 추가
- 2. 자료형 검사 및 변환
- 3. origin 컬럼에 대한 라벨 -> 컬럼 추가

## 데이터 확인

In [79]:
# 파일 확인
# mpgDF.info()

# 전체 컬럼에 대한 unique() 고유값
for col in mpgDF.columns:
    print(f'{col}------\n{mpgDF[col].unique()}\n)

SyntaxError: EOL while scanning string literal (213637087.py, line 6)

In [80]:
# 결측치 확인
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [81]:
mpgDF.duplicated().sum()

0

## horespower type 변환

In [82]:
# pd.DataFrame( mpgDF.groupby(['origin']).value_counts('car name') )

In [83]:
# horsepower ==> object에서 float로 형변환

# try:
    mpgDF['horsepower']=mpgDF['horsepower'].astype('float')
# except:
#     user=input('오류를 보고 싶으면 2를 누르시오')
#     if user=='2':
#         raise

# ValueError: could not convert string to float: '?' ==> '?' string 때문에 오류 발생

IndentationError: unexpected indent (2228857534.py, line 4)

In [84]:
# mpgDF[mpgDF['horsepower']=='?']
mpgDF.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [85]:
mpgDF['horespower'.replace('?', np.nan, inplace=True)]
mpgDF.isnull().sum()
# mpgDF = mpgDF.replace( {'horsepower': {'?':np.nan} } )
# mpgDF = mpgDF.replace( {'horsepower': {'?':0} } )

TypeError: str.replace() takes no keyword arguments

In [86]:
# horserpower 컬럼에서 Missing Value 처리

# Missing Value 대체값 => 컬럼 평균 => mean()
# mpgDF['horsepower'].fillna(mpgDF['horsepower'].mean())

# Missing Value 대체값 => 컬럼 최빈값 => mode()
# mpgDF['horsepower'].fillna(mpgDF['horsepower'].mode())

mpgDF['horsepower'].fillna(method='ffill', inplace=True) # ffill 이전 값으로 채움
mpgDF.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [87]:
mpgDF.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [88]:
# mpg = mpg.dropna(axis=0, how='all',subset='horsepower').reset_index(drop=True)
# mpg.info()

#### 중복 체크 및 처리
- 체크 : duplicated() => True, False : 행(row)
- cjfl : drop_duplicated() => 어떻게 처리를 할 것인가? 파라미터 세팅

In [89]:
mpgDF.duplicated().sum()

0

# 타입변환

## 데이터 표준화

In [90]:
# horsepower 컬럼 float로 타입 변환
mpgDF.horsepower = mpgDF.horsepower.astype(int)

ValueError: invalid literal for int() with base 10: '?'

In [91]:
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

## km/L = MPG*0.425

In [92]:
# DF의 제일 마지막에 추가
# mpgDF['km/L']=mpgDF['mpg']*0.425

# DF의 원하는 위치에 추가 => insert(정수위치번호, 컬럼명, 데이터)
mpgDF.insert(1, 'insertKML', mpgDF['mpg']*0.4)
mpgDF.head()

,mpg,insertKML,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,7.2,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,6.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,7.2,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,6.4,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,6.8,8,302.0,140,3449,10.5,70,1,ford torino

In [93]:
try:
    mpgDF.set_index('km/L', inplace=True)

except Exception:
    pass

In [94]:
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   insertKML     398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    398 non-null    object
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model year    398 non-null    int64
 8   origin        398 non-null    int64
 9   car name      398 non-null    object
dtypes: float64(4), int64(4), object(2)
memory usage: 31.2+ KB

In [95]:
# 오리진 1-미국USA, 2-유럽EUR, 3-일본JP

In [96]:
# origin 컬럼을 지역으로 바꾸고 컬럼 추가

# mpg['origin'].unique()

# oriList = []
# for i in range(1,4):
#     oriList.append(mpg[mpg.origin == i])

# for i in oriList:
#     print(i.head(2), '\n')

In [97]:
mpgDF['region']=mpgDF['origin'].replace( {1:'USA', 2:'EUR', 3:'JP'} )

#### origin 컬럼에 대한 origin_label 컬럼 추가 및 자료형 설정 - 강사님

In [98]:
OriginLabel = mpgDF['origin'].replace( {1:'USA', 2:'EUR', 3:'JP'} )

# DF컬럼에 추가
mpgDF.insert(9, 'origin_label', OriginLabel)

In [99]:
mpgDF.origin.unique()

array([1, 3, 2], dtype=int64)

In [100]:
# origin, OriginLabel in64 / object 기본자료형을 => 기본자료형 category로
mpgDF[['origin', 'origin_label']]=mpgDF[['origin', 'origin_label']].astype('category')

In [101]:
# horsepower 컬럼 확인
# mpgDF['horespower'].unique()

# horsepower 컬럼 타입 변경 object => int
pd.to_numeric(mpgDF['horsepower'], errors='coerce', downcast='integer')
# to_numeric(arg, errors='raise', downcast=None)
# 'unsigned' int의 부호를 날려버림. 음수, 양수

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [123]:
# horsepower 컬럼 타입 변경 int 연속형 => 범주형 category 변환
# 구간 => 라벨 horsepower_low, horsepower_normal, horsepower_high
pd.cut(mpgDF['horsepower'], bins=3, 
       labels=['horsepower_low', 'horsepower_normal', 'horsepower_high'],
      include_lowest=True)

mpgDF.horsepower = mpgDF.horsepower.astype('category')
#  can only concatenate str (not "float") to str

TypeError: can only concatenate str (not "float") to str

In [ ]:
'''
pd.cut(
    x=df[컬럼명],            # 데이터 배열
    bins=n,                  # 경계 값 리스트
    right: 'bool' = True,           
    labels=None,              # bin 이름
    retbins: 'bool' = False,
    precision: 'int' = 3,
    include_lowest: 'bool' = False,     # 첫경계값 포함
    duplicates: 'str' = 'raise',
    ordered: 'bool' = True,
)'''

## 원-핫-코딩

In [125]:
# one-hot-encoding
# pandas.get_dummies()
horseDummies = pd.get_dummies(mpgDF.horsepower)
horseDummies

,100,102,103,105,107,108,110,112,113,115,...,90,91,92,93,94,95,96,97,98,?
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
394,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
397,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [126]:
# 연결하는 것은 concat, 합치는 것은 merge
pd.concat(mpgDF, horseDummies, axis=1)

C:\Users\User\AppData\Local\Temp\ipykernel_17256\1207930316.py:2: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  pd.concat(mpgDF, horseDummies, axis=1)

TypeError: concat() got multiple values for argument 'axis'

# 데이터 정규화Normalization
- 수치데이터 컬럼마다 값의 범위가 다름
- 값의 범위 0 ~ 1 /  -1 ~ 1로 값을 설정

##### 방법 1: 컬럼의 최대값의 절대값으로 전체데이터를 나누기

In [135]:
# a= abs( mpgDF['weight'].max() )
# a
# b=mpgDF['weight']/a
# b

5140

In [143]:
# mpgDF['weight'].max(), mpgDF['weight'].min(), abs( mpgDF['weight'].max() )

(5140, 1613, 5140)

In [146]:
# mpgDF['weight_nor']= mpgDF['weight'] / abs( mpgDF['weight'].max() )
# mpgDF['weight_nor'].min(), mpgDF['weight_nor'].max()

(0.31381322957198443, 1.0)

##### 방법 2 : 컬럼의 데이터 - 최소값/ 최대값-최소값

- 컬럼의 최대값 => max(), 최소값 => min()

In [153]:
# numerator= mpgDF['weight'] - mpgDF['weight'].min()
# denominator =  mpgDF['weight'].max() - mpgDF['weight'].min()

# mpgDF['weight_nor_2']=numerator / denominator
# mpgDF['weight_nor_2']

# mpgDF['weight_nor_2'].max(), mpgDF['weight_nor_2'].min()

0      0.536150
1      0.589736
2      0.516870
3      0.516019
4      0.520556
         ...
393    0.333711
394    0.146583
395    0.193365
396    0.286929
397    0.313864
Name: weight_nor_2, Length: 398, dtype: float64

##### 방법 3 : 컬럼의 데이터 - 평균 / 표준편차 ====> Z-score

In [154]:
# mpgDF['weight'] - mpgDF['weight'].mean()

0      533.575377
1      722.575377
2      465.575377
3      462.575377
4      478.575377
          ...
393   -180.424623
394   -840.424623
395   -675.424623
396   -345.424623
397   -250.424623
Name: weight, Length: 398, dtype: float64

In [155]:
# mpgDF['weight_nor_1'], mpgDF['weight_nor_2'], mpgDF['weight_nor_3']

KeyError: 'weight_nor_1'

In [166]:
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   insertKML     398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    398 non-null    object
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model year    398 non-null    int64
 8   origin        398 non-null    category
 9   origin_label  398 non-null    category
 10  car name      398 non-null    object
 11  region        398 non-null    object
 12  weight_nor    398 non-null    float64
 13  weight_nor_2  398 non-null    float64
dtypes: category(2), float64(6), int64(3), object(3)
memory usage: 38.5+ KB

In [159]:
autoDF=pd.read_csv(FILE_NAME)

In [160]:
autoDF['weight'].max(), autoDF['weight'].min(), abs(autoDF['weight'].max())

(5140, 1613, 5140)

In [161]:
autoDF['weight_nor']=autoDF['weight'] / abs(autoDF['weight'].max())
autoDF['weight_nor'].min(), autoDF['weight_nor'].max()

(0.31381322957198443, 1.0)

In [162]:
numerator = autoDF['weight'] - autoDF['weight'].min()
denominator = autoDF['weight'].max() - autoDF['weight'].min()

autoDF['weight_nor_2']=numerator/denominator
autoDF['weight_nor_2']
autoDF['weight_nor_2'].min(), autoDF['weight_nor_2'].max()

(0.0, 1.0)

In [163]:
numerator = autoDF['weight'] - autoDF['weight'].mean()
denominator = autoDF['weight'].std()

autoDF['weight_nor_3']=numerator/denominator
autoDF['weight_nor_3'].min(), autoDF['weight_nor_3'].max()

(-1.6029259118708488, 2.561960738109357)

In [164]:
autoDF[['weight', 'weight_nor_2', 'weight_nor_3']]

     weight  weight_nor_2  weight_nor_3
0      3504      0.536150      0.630077
1      3693      0.589736      0.853259
2      3436      0.516870      0.549778
3      3433      0.516019      0.546236
4      3449      0.520556      0.565130
..      ...           ...           ...
393    2790      0.333711     -0.213056
394    2130      0.146583     -0.992422
395    2295      0.193365     -0.797581
396    2625      0.286929     -0.407897
397    2720      0.313864     -0.295716

[398 rows x 3 columns]

##### 방법 1: 컬럼의 최대값의 절대값으로 전체데이터를 나누기

##### 방법 2 : 컬럼의 데이터 - 최소값/ 최대값-최소값

- 컬럼의 최대값 => max(), 최소값 => min()

##### 방법 3 : 컬럼의 데이터 - 평균 / 표준편차 ====> Z-score

In [176]:
mpgDF['cylinders']/ abs( mpgDF['cylinders'].max() )

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
393    0.5
394    0.5
395    0.5
396    0.5
397    0.5
Name: cylinders, Length: 398, dtype: float64

In [ ]:
def (mpgDF)
    mpgDF['way1'] / mpg

In [175]:
# For i in weight
# weight columns.dummies
# garbage-dummies

SyntaxError: invalid syntax (2976190425.py, line 1)

In [179]:
# enumerate
nums=['a','b','c','d']
for num in nums:
    print(num)

a
b
c
d

In [188]:
idx=[]
nums=['a','b','c','d']
for num in nums:
    print(num, idx)
    idx+=1

a []

TypeError: 'int' object is not iterable

In [178]:
for idx, num in enumerate(nums):
    print(num, idx)

a 0
b 1
c 2
d 3