In [8]:
# 모듈 로딩
import pandas as pd
import numpy as np

In [7]:
# 데이터 생성
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

# 피벗Pivot
- 대량의 데이터(DateFrame)에서 원하는 칼럼을 선택해서 Index, Column, Values로 설정
- 새로운 DF 객체 생성

- 함수 및 메서드
    => pandas.pivot(),pandas.DataFrame.pivot()
    => pandas.pivot_table(), pandas.DateFrame.pivot_table()

In [14]:
# 데이터 확인
# 데이터 전처리 => 정제(Cleaning)
df.isnull().sum()

foo    0
bar    0
baz    0
zoo    0
dtype: int64

In [16]:
# pivot()으로 원하는 DF 생성

myDF=pd.pivot(df, index='foo', columns='bar', values='baz')
myDF

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [17]:
# 컬럼과 컬럼 간의 관계를 보고 어느 정보를 가져와 피벗을 만들지 생각.

In [18]:
# pivot_table() 함수집계 사용?

In [19]:
df2 = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df2

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9